.clearfix:after {
  content: '';
  display: block;
  clear: both; }

.ellipsis {
  white-space: nowrap;
  /* 1 */
  text-overflow: ellipsis;
  /* 2 */
  overflow: hidden; }

.cost-table__row {
  padding: 16px 0;
  border-bottom: 1px solid #d4d4d4; }

.cost-table__row--titles {
  border-bottom: none; }

.cost-table__row--monthly-share {
  background-color: #f5f6f7;
  border-top: 1px solid #d4d4d4; }

.feature {
  display: grid;
  grid-template-columns: 1fr 9px 1fr;
  grid-template-areas: 'desc     desc      desc' 'basic    divider   classic';
  grid-row-gap: 16px;
  justify-items: center;
  align-items: center;
  max-width: 320px;
  margin: auto; }

.feature__description {
  grid-area: desc;
  justify-self: stretch; }

.feature__basic {
  grid-area: basic;
  font-family: "Source Sans Pro", "Arial", "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 27px;
  font-weight: 300;
  line-height: 36px;
  color: #faa443; }

.feature_divider {
  grid-area: divider;
  width: 4px;
  height: 100%;
  min-height: 54px;
  content: '';
  background-color: #24292c;
  border-radius: 4px; }

.feature__classic {
  grid-area: classic;
  font-family: "Source Sans Pro", "Arial", "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 27px;
  font-weight: 300;
  line-height: 36px;
  color: #9669aa; }

.feature--titles {
  grid-template-areas: 'basic divider classic'; }
  .feature--titles .feature__description {
    display: none; }
  .feature--titles .feature_divider {
    background-color: transparent; }

.feature--monthly-share .feature_divider {
  background-color: transparent; }

.feature--iua .feature_divider {
  background-color: #f0567c; }

.feature--share-percent .feature_divider {
  background-color: #6bcad2; }

.feature--maternity {
  grid-template-areas: 'desc     desc      desc' 'basic    divider   classic' 'info     info      info'; }
  .feature--maternity .feature__extra-info {
    grid-area: info;
    padding: 11px;
    font-family: "Source Sans Pro", "Arial", "Helvetica Neue", "Helvetica", sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
    color: #24292c;
    background-color: #ebf3fb;
    border: 2px solid #7ab2e0;
    border-radius: 10px; }
  .feature--maternity .feature_divider {
    background-color: #7ab2e0; }

.feature--share-max .feature_divider {
  background-color: #af93c5; }

.membership-level-title {
  padding: 0;
  margin: 0; }

.membership-level-title__image {
  display: block;
  width: 100%;
  height: auto; }

.feature-info {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-areas: 'icon title' 'icon description';
  grid-column-gap: 16px; }

.feature-info__icon-container {
  grid-area: icon; }

.feature-info__icon {
  display: block;
  float: right;
  width: 100%;
  max-width: 54px;
  height: auto;
  margin-top: 10px; }

.feature-info__title {
  grid-area: title;
  padding: 0;
  margin: 0;
  font-family: "Source Sans Pro", "Arial", "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 27px;
  font-weight: 400;
  line-height: 36px;
  color: #24292c; }
  @media (min-width: 768px) {
    .feature-info__title {
      grid-template-areas: 'icon title' 'icon subhead' 'icon description'; } }

.feature-info__description {
  grid-area: description;
  padding: 0;
  margin: 0;
  font-family: "Source Sans Pro", "Arial", "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #24292c; }

.feature-info--monthly-share {
  grid-template-rows: auto auto 30px;
  grid-template-areas: 'icon title' 'icon description' 'subhead subhead'; }
  @media (min-width: 768px) {
    .feature-info--monthly-share {
      grid-template-areas: 'icon title' 'icon subhead' 'icon description'; } }
  .feature-info--monthly-share .feature-info__subhead {
    grid-area: subhead;
    align-self: end;
    justify-self: center;
    padding-top: 12px;
    margin: 0;
    font-family: "Source Sans Pro", "Arial", "Helvetica Neue", "Helvetica", sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 18px;
    color: #24292c; }
  .feature-info--monthly-share .feature-info__title {
    color: #ab2066; }

.feature-info--iua .feature-info__title {
  color: #f0567c; }

.feature-info--maternity .feature-info__title {
  color: #7ab2e0; }

.feature-info--share-percent .feature-info__title {
  color: #6bcad2; }

.feature-info--share-max .feature-info__title {
  color: #af93c5; }

.share-amount {
  padding: 12px;
  border-radius: 10px; }

.share-amount__cost {
  font-family: "Source Sans Pro", "Arial", "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 27px;
  font-weight: 300;
  line-height: 29px;
  color: #fff;
  text-align: right; }

.share-amount__frequency {
  font-family: "Source Sans Pro", "Arial", "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
  color: #fff;
  text-align: right; }

.share-amount--basic {
  background-color: #faa443; }

.share-amount--classic {
  background-color: #9669aa; }

.maternity-details__case {
  padding: 0;
  margin: 0; }

.maternity-details__household-size {
  display: block;
  font-family: "Source Sans Pro", "Arial", "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 23px;
  text-align: center; }

.maternity-details__limit {
  display: block;
  font-family: "Source Sans Pro", "Arial", "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 27px;
  font-weight: 300;
  line-height: 34px;
  text-align: center; }

.maternity-details__case--one-person {
  display: none; }

/*# sourceMappingURL=cost-table.css.map */
