.clearfix:after {
  content: '';
  display: block;
  clear: both; }

.ellipsis {
  white-space: nowrap;
  /* 1 */
  text-overflow: ellipsis;
  /* 2 */
  overflow: hidden; }

.cost-table {
  padding: 0;
  margin: 0; }
  @media (min-width: 1024px) {
    .cost-table {
      max-width: 768px;
      margin: auto; } }

.cost-table__row--titles {
  border-bottom: none; }

.cost-table__row--monthly-share {
  background-color: #f5f6f7;
  border-top: 1px solid #d4d4d4;
  border-bottom: 1px solid #d4d4d4; }
  @media (min-width: 1024px) {
    .cost-table__row--monthly-share {
      border: 1px solid #d4d4d4;
      border-radius: 10px; } }

.feature {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 9px 1fr;
  grid-template-areas: 'desc     desc      desc' 'basic    divider   classic';
  grid-row-gap: 16px;
  justify-items: stretch;
  align-items: center;
  max-width: 320px;
  padding: 16px;
  margin: auto; }
  @media (min-width: 768px) {
    .feature {
      grid-template-columns: 2fr 1fr 9px 1fr;
      grid-template-areas: 'desc basic divider classic';
      max-width: 768px; } }

.feature::after {
  position: absolute;
  bottom: 0;
  left: 16px;
  width: calc(100% - 32px);
  height: 1px;
  content: '';
  background: #d4d4d4; }
  @media (min-width: 768px) {
    .feature::after {
      left: 86px;
      width: calc(100% - 102px); } }

.feature__description {
  grid-area: desc;
  justify-self: stretch; }

.feature__basic {
  grid-area: basic;
  font-family: "Source Sans Pro", "Arial", "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 27px;
  font-weight: 300;
  line-height: 36px;
  color: #faa443;
  text-align: center; }

.feature_divider {
  grid-area: divider;
  width: 4px;
  height: 100%;
  min-height: 54px;
  content: '';
  background-color: #24292c;
  border-radius: 4px; }

.feature__classic {
  grid-area: classic;
  font-family: "Source Sans Pro", "Arial", "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 27px;
  font-weight: 300;
  line-height: 36px;
  color: #9669aa;
  text-align: center; }

.feature--titles {
  grid-template-areas: 'basic divider classic';
  border-bottom: none; }
  @media (min-width: 768px) {
    .feature--titles {
      grid-template-areas: 'desc basic divider classic'; } }
  .feature--titles::after {
    background: transparent; }
  .feature--titles .feature__description {
    display: none; }
  .feature--titles .feature_divider {
    background-color: transparent; }

.feature--monthly-share {
  border-bottom: none; }
  .feature--monthly-share::after {
    background: transparent; }
  .feature--monthly-share .feature_divider {
    background-color: transparent; }

.feature--iua .feature_divider {
  background-color: #f0567c; }

.feature--share-percent .feature_divider {
  background-color: #6bcad2; }

.feature--maternity {
  grid-template-areas: 'desc     desc      desc' 'basic    divider   classic' 'info     info      info'; }
  @media (min-width: 768px) {
    .feature--maternity {
      grid-template-areas: 'desc  basic divider classic' 'empty info  info    info'; } }
  .feature--maternity .feature__extra-info {
    grid-area: info;
    padding: 11px;
    font-family: "Source Sans Pro", "Arial", "Helvetica Neue", "Helvetica", sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
    color: #24292c;
    background-color: #ebf3fb;
    border: 2px solid #7ab2e0;
    border-radius: 10px; }
  .feature--maternity .feature_divider {
    background-color: #7ab2e0; }

.feature--share-max::after {
  background: transparent; }
.feature--share-max .feature_divider {
  background-color: #af93c5; }

.membership-level-title {
  padding: 0;
  margin: 0; }

.membership-level-title__image {
  display: block;
  width: 100%;
  height: auto;
  margin: auto; }
  @media (min-width: 768px) {
    .membership-level-title__image {
      width: 90%; } }

.feature-info {
  display: grid;
  grid-template-columns: 54px 1fr;
  grid-template-areas: 'icon title' 'icon description';
  grid-column-gap: 10px; }
  @media (min-width: 768px) {
    .feature-info {
      grid-column-gap: 16px; } }

.feature-info__icon-container {
  grid-area: icon; }

.feature-info__icon {
  display: block;
  float: right;
  width: 100%;
  max-width: 54px;
  height: auto;
  margin-top: 10px; }

.feature-info__title {
  grid-area: title;
  padding: 0;
  margin: 0;
  font-family: "Source Sans Pro", "Arial", "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 27px;
  font-weight: 400;
  line-height: 36px;
  color: #24292c; }

.feature-info__description {
  grid-area: description;
  padding: 0;
  margin: 0;
  font-family: "Source Sans Pro", "Arial", "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #24292c; }

.feature-info--monthly-share {
  grid-template-rows: auto auto 30px;
  grid-template-areas: 'icon title' 'icon description' 'subhead subhead'; }
  @media (min-width: 768px) {
    .feature-info--monthly-share {
      grid-template-rows: auto auto auto;
      grid-template-areas: 'icon title' 'icon subhead' 'icon description'; } }
  .feature-info--monthly-share .feature-info__subhead {
    grid-area: subhead;
    align-self: end;
    justify-self: center;
    padding-top: 12px;
    margin: 0;
    font-family: "Source Sans Pro", "Arial", "Helvetica Neue", "Helvetica", sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 18px;
    color: #24292c; }
    @media (min-width: 768px) {
      .feature-info--monthly-share .feature-info__subhead {
        justify-self: start;
        align-self: center;
        padding-top: 0;
        line-height: 26px; } }
  .feature-info--monthly-share .feature-info__title {
    color: #ab2066; }

.feature-info--iua .feature-info__title {
  color: #f0567c; }

.feature-info--maternity .feature-info__title {
  color: #7ab2e0; }

.feature-info--share-percent .feature-info__title {
  color: #6bcad2; }

.feature-info--share-max .feature-info__title {
  color: #af93c5; }

.share-amount {
  padding: 12px;
  border-radius: 10px; }
  @media (min-width: 768px) {
    .share-amount {
      padding: 16px; } }

.share-amount__container {
  display: inline-block; }

.share-amount__cost {
  font-family: "Source Sans Pro", "Arial", "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 27px;
  font-weight: 300;
  line-height: 29px;
  color: #fff;
  text-align: right; }
  @media (min-width: 768px) {
    .share-amount__cost {
      font-size: 36px;
      line-height: 36px; } }

.share-amount__frequency {
  font-family: "Source Sans Pro", "Arial", "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
  color: #fff;
  text-align: right; }

.share-amount--basic {
  background-color: #faa443; }

.share-amount--classic {
  background-color: #9669aa; }

.maternity-details__case {
  padding: 0;
  margin: 0; }

.maternity-details__household-size {
  display: block;
  font-family: "Source Sans Pro", "Arial", "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 23px;
  text-align: center; }

.maternity-details__limit {
  display: block;
  font-family: "Source Sans Pro", "Arial", "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 27px;
  font-weight: 300;
  line-height: 34px;
  text-align: center; }

.maternity-details__case--one-person {
  display: none; }

.maternity-details--basic .maternity-details__household-size,
.maternity-details--basic .maternity-details__limit {
  color: #faa443; }

.maternity-details--classic .maternity-details__household-size,
.maternity-details--classic .maternity-details__limit {
  color: #9669aa; }

.membership-label {
  display: flex;
  align-items: center;
  justify-content: center; }

.membership-label__image {
  display: block;
  width: auto;
  height: 18px;
  padding-right: 6px; }

.membership-label__text {
  padding: 0;
  margin: 0; }

.is-invalid .share-amount__cost,
.is-invalid .share-amount__frequency {
  text-align: center; }

.is-household-size-1 .share-amount__cost,
.is-household-size-1 .share-amount__frequency {
  text-align: center; }
.is-household-size-1 .feature--maternity {
  grid-template-areas: 'desc     desc      desc' 'info     info      info'; }
  @media (min-width: 768px) {
    .is-household-size-1 .feature--maternity {
      grid-template-areas: 'desc info info info'; } }
  .is-household-size-1 .feature--maternity .feature__basic,
  .is-household-size-1 .feature--maternity .feature_divider,
  .is-household-size-1 .feature--maternity .feature__classic {
    display: none; }

.is-household-size-multi .share-amount__cost,
.is-household-size-multi .share-amount__frequency {
  text-align: center; }
.is-household-size-multi .feature--maternity {
  grid-template-areas: 'desc     desc      desc' 'basic    divider   classic'; }
  @media (min-width: 768px) {
    .is-household-size-multi .feature--maternity {
      grid-template-areas: 'desc basic divider classic'; } }
  .is-household-size-multi .feature--maternity .feature__extra-info {
    display: none; }
.is-household-size-multi .maternity-details__household-size {
  display: none; }

/*# sourceMappingURL=cost-table.css.map */
