.clearfix:after {
  content: '';
  display: block;
  clear: both; }

.ellipsis {
  white-space: nowrap;
  /* 1 */
  text-overflow: ellipsis;
  /* 2 */
  overflow: hidden; }

.maternity-care-sharing-faq {
  padding: 32px; }
  @media (min-width: 768px) {
    .maternity-care-sharing-faq {
      padding: 54px; } }
  @media (min-width: 1024px) {
    .maternity-care-sharing-faq {
      padding: 72px 0; } }

.maternity-care-sharing-faq__container {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  position: relative; }

.maternity-care-sharing-faq__header {
  margin-bottom: 20px; }

.maternity-care-sharing-faq__line {
  height: 2px;
  color: #DDDDDD;
  margin: 0; }

.maternity-care-sharing-faq__line:last-child {
  margin-bottom: 108px; }

.maternity-care-sharing-faq__question {
  display: grid;
  grid-template-columns: 1fr 18px;
  grid-gap: 40px;
  position: relative;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 16px; }

.maternity-care-sharing-faq__question p {
  color: #3F70C9;
  font-size: 18px;
  margin: 0; }

.maternity-care-sharing-faq__arrow {
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0%, -50%); }

.maternity-care-sharing-faq__answer p {
  margin-top: 16px;
  margin-bottom: 20px;
  color: #24292c; }

.maternity-care-sharing-faq__answer {
  display: none; }

.maternity-care-sharing-faq__answer.active {
  display: block; }

.maternity-care-sharing-faq__arrow.active {
  transform: rotate(270deg) translate(0%, -50%);
  margin-top: -10px;
  margin-right: -8px; }

.maternity-care-sharing-faq__contact {
  position: absolute;
  right: -289px;
  width: 237px;
  border: 2px solid #DDDDDD;
  border-radius: 5px; }
  @media (max-width: 1200px) {
    .maternity-care-sharing-faq__contact {
      display: none; } }

.maternity-care-sharing-faq__contact-mobile {
  width: 100%;
  border: 2px solid #DDDDDD;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 1008px; }
  @media (min-width: 1200px) {
    .maternity-care-sharing-faq__contact-mobile {
      display: none; } }

.maternity-care-sharing-faq__phone {
  color: #41464B;
  font-size: 18px;
  margin-bottom: 10px; }

.maternity-care-sharing-faq__hours {
  color: #41464B;
  font-size: 15px;
  line-height: 25px;
  margin-bottom: 4px; }

.maternity-care-sharing-faq__mail {
  color: #41464B;
  font-size: 18px;
  margin-top: 15px;
  margin-bottom: 10px; }

.maternity-care-sharing-faq__address {
  color: #41464B;
  font-size: 15px;
  margin-bottom: 24px;
  margin-top: 0px;
  line-height: 25px; }

.maternity-care-sharing-faq__contact > div {
  margin-left: 56px; }

.maternity-care-sharing-faq__contact > h3 {
  margin-left: 26px;
  margin-top: 24px;
  margin-bottom: 19px; }

.maternity-care-sharing-faq__contact-mobile > div {
  margin-left: 56px; }

.maternity-care-sharing-faq__contact-mobile > h3 {
  margin-left: 26px;
  margin-top: 24px;
  margin-bottom: 0px; }

.maternity-care-sharing-faq__marker-icon {
  margin-right: 5px;
  height: 14px; }

.maternity-care-sharing-faq__phone-icon {
  height: 12px;
  margin-right: 5px;
  margin-bottom: 0px; }

.maternity-care-sharing-faq__contact-container {
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
  padding-top: 0; }
