<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Additional Information</title>


	<link media="all" rel="stylesheet" href="/css/main.css">
	<link media="all" rel="stylesheet" href="/css/layouts/additional-explanation.css">


	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700%7cSource+Serif+Pro:400,600" rel="stylesheet">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js" defer></script>
	<script>window.jQuery || document.write('<script src="/js/jquery-1.12.4.min.js" defer><\/script>')</script>
	<script src="/js/jquery.main.js" defer></script>
</head>
<body>
	<div id="wrapper">




	<!-- additional explanation -->
	<section class="additional-explanation">
		<div class="container">
			<h2 class="additional-explanation__heading ">In other words…</h2>
			<p class="additional-explanation__paragraph">It’s kind of like sharing juice with friends. Maybe there’s enough for four friends to have full cups. However, if a fifth friend arrives, everyone might need to take a little less so everyone could partake.</p>
			<div class="additional-explanation__img-holder">
				<img src="/images/prorate-pitcher-example.svg" width="477" height="164" alt="" class="additional-explanation__image">
			</div>
			<p class="additional-explanation__paragraph">Prorating is a way for us to help the greatest number of members when there is a limited number of shares. We only ever prorate needs when there aren’t enough shares available – so far, not very often. If prorating has to happen three months in a row, the membership votes on a share increase to prevent future prorating.</p>
		</div>
	</section>





</body>
</html>
