<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Additional Information</title>


	<link media="all" rel="stylesheet" href="/css/main.css">
	<link media="all" rel="stylesheet" href="/css/layouts/administrative-costs.css">


	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700%7cSource+Serif+Pro:400,600" rel="stylesheet">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js" defer></script>
	<script>window.jQuery || document.write('<script src="/js/jquery-1.12.4.min.js" defer><\/script>')</script>
	<script src="/js/jquery.main.js" defer></script>
</head>
<body>
	<div id="wrapper">




		<section class="administrative-costs">
			<div class="administrative-costs__container">
				<h2 class="administrative-costs__heading">Administrative Costs</h2>
				<strong class="administrative-costs-add-title">One time startup fee</strong>
				<div class="administrative-value">
					<div class="administrative-value__item">
						<span class="administrative-value__value">$300 <span class="administrative-value__text">Non <br> Refundable</span></span>
					</div>
				</div>
				<h3 class="administrative-costs__sub-heading">First year</h3>
				<p class="administrative-costs__paragraph">For the first two months of membership, members send their monthly share to the office. The rest of the year, shares are sent directly to members with Needs</p>
				<div class="administrative-rating-holder">
					<ul class="administrative-rating">
						<li class="administrative-rating__item"><span class="administrative-rating__icon" style="background-image: url(/images/admin-cost-sprite.png);"><span class="administrative-rating__value" style="width: 100%"></span></span></li>
						<li class="administrative-rating__item"><span class="administrative-rating__icon" style="background-image: url(/images/admin-cost-sprite.png);"><span class="administrative-rating__value"></span></span></li>
						<li class="administrative-rating__item"><span class="administrative-rating__icon" style="background-image: url(/images/admin-cost-sprite.png);"><span class="administrative-rating__value"></span></span></li>
						<li class="administrative-rating__item"><span class="administrative-rating__icon" style="background-image: url(/images/admin-cost-sprite.png);"><span class="administrative-rating__value"></span></span></li>
						<li class="administrative-rating__item"><span class="administrative-rating__icon" style="background-image: url(/images/admin-cost-sprite.png);"><span class="administrative-rating__value"></span></span></li>
						<li class="administrative-rating__item"><span class="administrative-rating__icon" style="background-image: url(/images/admin-cost-sprite.png);"><span class="administrative-rating__value"></span></span></li>
						<li class="administrative-rating__item"><span class="administrative-rating__icon" style="background-image: url(/images/admin-cost-sprite.png);"><span class="administrative-rating__value"></span></span></li>
						<li class="administrative-rating__item"><span class="administrative-rating__icon" style="background-image: url(/images/admin-cost-sprite.png);"><span class="administrative-rating__value"></span></span></li>
						<li class="administrative-rating__item"><span class="administrative-rating__icon" style="background-image: url(/images/admin-cost-sprite.png);"><span class="administrative-rating__value"></span></span></li>
						<li class="administrative-rating__item"><span class="administrative-rating__icon" style="background-image: url(/images/admin-cost-sprite.png);"><span class="administrative-rating__value"></span></span></li>
						<li class="administrative-rating__item"><span class="administrative-rating__icon" style="background-image: url(/images/admin-cost-sprite.png);"><span class="administrative-rating__value"></span></span></li>
						<li class="administrative-rating__item"><span class="administrative-rating__icon" style="background-image: url(/images/admin-cost-sprite.png);"><span class="administrative-rating__value"></span></span></li>
					</ul>
				</div>
				<h3 class="administrative-costs__sub-heading">Future years</h3>
				<p class="administrative-costs__paragraph">The next year, members only send one share to the office and every other month they share directly with other member households on a monthly basis.</p>
				<div class="administrative-rating-holder">
					<ul class="administrative-rating">
						<li class="administrative-rating__item"><span class="administrative-rating__icon" style="background-image: url(/images/admin-cost-sprite.png);"><span class="administrative-rating__value" style="width: 100%"></span></span></li>
						<li class="administrative-rating__item"><span class="administrative-rating__icon" style="background-image: url(/images/admin-cost-sprite.png);"><span class="administrative-rating__value" style="width: 100%"></span></span></li>
						<li class="administrative-rating__item"><span class="administrative-rating__icon" style="background-image: url(/images/admin-cost-sprite.png);"><span class="administrative-rating__value"></span></span></li>
						<li class="administrative-rating__item"><span class="administrative-rating__icon" style="background-image: url(/images/admin-cost-sprite.png);"><span class="administrative-rating__value"></span></span></li>
						<li class="administrative-rating__item"><span class="administrative-rating__icon" style="background-image: url(/images/admin-cost-sprite.png);"><span class="administrative-rating__value"></span></span></li>
						<li class="administrative-rating__item"><span class="administrative-rating__icon" style="background-image: url(/images/admin-cost-sprite.png);"><span class="administrative-rating__value"></span></span></li>
						<li class="administrative-rating__item"><span class="administrative-rating__icon" style="background-image: url(/images/admin-cost-sprite.png);"><span class="administrative-rating__value"></span></span></li>
						<li class="administrative-rating__item"><span class="administrative-rating__icon" style="background-image: url(/images/admin-cost-sprite.png);"><span class="administrative-rating__value"></span></span></li>
						<li class="administrative-rating__item"><span class="administrative-rating__icon" style="background-image: url(/images/admin-cost-sprite.png);"><span class="administrative-rating__value"></span></span></li>
						<li class="administrative-rating__item"><span class="administrative-rating__icon" style="background-image: url(/images/admin-cost-sprite.png);"><span class="administrative-rating__value"></span></span></li>
						<li class="administrative-rating__item"><span class="administrative-rating__icon" style="background-image: url(/images/admin-cost-sprite.png);"><span class="administrative-rating__value"></span></span></li>
						<li class="administrative-rating__item"><span class="administrative-rating__icon" style="background-image: url(/images/admin-cost-sprite.png);"><span class="administrative-rating__value"></span></span></li>
					</ul>
				</div>
			</div>
		</section>





</body>
</html>
