
<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Samaritan Ministries</title>

	<link rel="stylesheet" type="text/css" href="https://samaritanministries.org/stylesheets/application.css">

	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<link rel="stylesheet" type="text/css" href="/css/layouts/better-consumer.css">


	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700%7cSource+Serif+Pro:400,600" rel="stylesheet">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js" defer></script>
	<script>window.jQuery || document.write('<script src="js/jquery-1.12.4.min.js" defer><\/script>')</script>
	<script src="/js/jquery.main.js" defer></script>
</head>

<body>




	<div class="content">

		<section class="better-consumer">
			<div class="container container--lg">
				<h2 class="better-consumer__heading">A Better Health Care Consumer</h2>
				<div class="better-consumer__content">
					<span class="img-holder"><img src="/images/dr.jpg" alt=""></span>
					<div class="txt-holder">
						<p class="better-consumer__paragraph"><b>Members</b> are self-pay patients and are billed directly by their provider. Discussing discounts on your medical bills can be beneficial for you and the rest of the membership, and members are encouraged to discuss discounts with their providers. Receiving discounts on medical bills reduces the cost for the entire membership, therefore, lightening the load that members help one another bear.</p>
					</div>
				</div>
				<div class="better-consumer__content-center">
					<div class="holder">
						<div class="txt-holder">
							<p class="better-consumer__paragraph">Know What You’re Paying For <br/><i>Asking your doctor for itemized medical bills can help you understand the exact costs of the treatment options available to you. By knowing what your treatment includes, you can take control of your health care and make more informed decisions regarding your medical care. For more information on itemized bills, please see Section X of the Guidelines.</i></p>
						</div>
						<span class="icon-holder"><img src="/images/bill-investigation.svg" alt=""></span>
					</div>
				</div>
			</div>
		</section>

	</div>





</body>
</html>
