<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Bios</title>


	<link media="all" rel="stylesheet" href="/css/main.css">
	<link media="all" rel="stylesheet" href="/css/layouts/bios.css">



	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700%7cSource+Serif+Pro:400,600" rel="stylesheet">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js" defer></script>
	<script>window.jQuery || document.write('<script src="/js/jquery-1.12.4.min.js" defer><\/script>')</script>
	<script src="/js/jquery.main.js" defer></script>
</head>
<body>
	<div id="wrapper">




		<section class="bios">
			<h2 class="bios__heading">Join Dan Celia and Cody Dewitt as they discuss health care options that will change lives </h2>
			<div class="bios__container">

				<div class="bio">
					<img src="/images/dan-celia.jpg" alt="" class="bio__image">
					<div class="bio__description">
						<h3 class="bio__heading">Dan Celia</h3>
						<p class="bio__paragraph">Dan is host of Financial Issues, a program aired on over 640 stations daily. Financial Issues can be heard in every state and around the world through the Internet. Dan has interviewed newsmakers like Steve Forbes, Ben Stein, as well as members of Congress and presidential candidates.</p>
					</div>
				</div>

				<div class="bio">
					<img src="/images/cody-dewitt.jpg" alt="" class="bio__image">
					<div class="bio__description">
						<h3 class="bio__heading">Cody Dewitt</h3>
						<p class="bio__paragraph">Cody is a health care research analyst who advises people
on how to make sense of their health care options. With a deep understanding of health care in America, Cody is able to offer real solutions to the uncertainty and volatility Americans experience.</p>
					</div>
				</div>
			</div>
		</section>




	</div>
</body>
</html>
