<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Calculate</title>


	<link media="all" rel="stylesheet" href="/css/main.css">
	<link media="all" rel="stylesheet" href="/css/layouts/calculate.css">


	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700%7cSource+Serif+Pro:400,600" rel="stylesheet">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js" defer></script>
	<script>window.jQuery || document.write('<script src="/js/jquery-1.12.4.min.js" defer><\/script>')</script>
	<script src="/js/jquery.main.js" defer></script>
</head>
<body>
	<div id="wrapper">




		<section class="calculate">
			<div class="calculate__container">
				<h2 class="calculate__heading">Calculate your monthly share.</h2>
				<div class="calculate-holder">
					<form action="#" class="calculate-form">
						<fieldset>
							<div class="calculate-form-row">
								<strong class="calculate-form-label">Are you married?</strong>
								<div class="calculate-controls">
									<label class="calculate-control">
										<input type="radio" class="calculate-control__input" name="married" checked>
										<span class="calculate-control__fake-input"></span>
										<span class="calculate-control__fake-label">Yes</span>
									</label>
									<label class="calculate-control">
										<input type="radio" class="calculate-control__input" name="married">
										<span class="calculate-control__fake-input"></span>
										<span class="calculate-control__fake-label">No</span>
									</label>
								</div>
							</div>
							<div class="calculate-form-row">
								<strong class="calculate-form-label">Who will be on this membership?</strong>
								<div class="select-membership">
									<label class="calculate-control calculate-control--membership">
										<input type="checkbox" class="calculate-control__input" name="married" checked>
										<span class="calculate-control__fake-input"></span>
										<span class="calculate-control__fake-label">Myself</span>
									</label>
									<div class="select-membership-field">
										<label for="area1" class="select-membership-field__label">My Age</label>
										<input type="text" placeholder="52" id="area1" class="select-membership-field__input">
									</div>
								</div>
								<div class="select-membership">
									<label class="calculate-control calculate-control--membership">
										<input type="checkbox" class="calculate-control__input" name="married">
										<span class="calculate-control__fake-input"></span>
										<span class="calculate-control__fake-label">Spouse</span>
									</label>
									<div class="select-membership-field">
										<label for="area2" class="select-membership-field__label">Spouse Age</label>
										<input type="text" placeholder="55" id="area2" class="select-membership-field__input">
									</div>
								</div>
								<div class="select-membership">
									<label class="calculate-control calculate-control--membership">
										<input type="checkbox" class="calculate-control__input" name="married">
										<span class="calculate-control__fake-input"></span>
										<span class="calculate-control__fake-label">Dependents</span>
									</label>
									<div class="select-membership-field">
										<label for="area3" class="select-membership-field__label">How Many?</label>
										<input type="text" placeholder="4" id="area3" class="select-membership-field__input">
									</div>
								</div>
								<span class="help-link"><a href="#">Who qualifies as a dependent? <i class="help-link-icon">?</i></a></span>
							</div>
						</fieldset>
					</form>
					<div class="calculate-decoration">
						<img src="/images/house.png" alt="image description" class="calculate-decoration__image">
					</div>
				</div>
			</div>
		</section>




	</div>
</body>
</html>
