<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Contest</title>


	<link rel="stylesheet" href="https://samaritanministries.org/stylesheets/application.css">

	<link rel="stylesheet" href="/css/main.css">
	<link rel="stylesheet" href="/css/layouts/contest.css">


	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700%7cSource+Serif+Pro:400,600" rel="stylesheet">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js" defer></script>
	<script>window.jQuery || document.write('<script src="/js/jquery-1.12.4.min.js" defer><\/script>')</script>
	<script src="/js/jquery.main.js" defer></script>


</head>
<body>
	<div id="wrapper">




		<!-- Contest -->
		<section class="contest">
			<div class="contest__header-wrapper">
				<img class="contest__header-img" src="/images/guitar-contest-header.jpg" alt="">
				<h2 class="contest__heading">Enter The Guitar Giveaway</h2>
				<p class="contest__description">By entering information below you are agreeing to the <a href="/guitar-terms">terms and conditions</a>. Must be 18 or older to enter.</p>
			</div>

			<form action="https://samaritanministries.us1.list-manage.com/subscribe/post?u=78eb8ac7841c1f04b1bb90806&amp;id=f98aff0de5" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

        <div class="row row--nested">
					<fieldset class="contest-form__input-group">

            <div class="row row--nested">
              <div class="column column--full column--nested">
                <label for="mce-FNAME">First Name</label>
								<input type="text" value="" name="FNAME" class="" id="mce-FNAME" required>
              </div>

		          <div class="column column--full column--nested">
		            <label for="mce-LNAME">Last Name</label>
								<input type="text" value="" name="LNAME" class="" id="mce-LNAME" required>
		          </div>

              <div class="column column--full column--nested">
                <label for="mce-EMAIL">E-mail</label>
								<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" required>
              </div>

              <div class="column column--full column--nested">
                <label for="mce-EMAIL">Phone</label>
                <input type="text" name="PHONE" class="required phone" id="mce-EMAIL" required>
              </div>

              <div class="column column--full column--nested">
                <label for="mce-BIRTHDATE">Birthdate</label>
                <input type="text" name="BIRTHDATE" class="required birthdate" id="mce-BIRTHDATE" required>
              </div>

							<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
						  <div style="position: absolute; left: -5000px;" aria-hidden="true">
								<input type="text" name="b_78eb8ac7841c1f04b1bb90806_f98aff0de5" tabindex="-1" value="">
							</div>

							<div class="column column--full column--nested">
                <p><input type="submit" value="Enter The Guitar Giveaway" class="button--navigation button--special-blue"></p>
              </div>
            </div>

					</fieldset>
        </div>
      </form>


		</section>




	</div>
</body>
</html>
