<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Samaritan-Ministries</title>

	<link media="all" rel="stylesheet" href="/css/main.css">
	<link media="all" rel="stylesheet" href="/css/layouts/cost-table.css">



	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700%7cSource+Serif+Pro:400,600" rel="stylesheet">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js" defer></script>
	<script>window.jQuery || document.write('<script src="/js/jquery-1.12.4.min.js" defer><\/script>')</script>
	<script src="/js/jquery.main.js" defer></script>
</head>
<body>
	<div id="wrapper">


		<!-- Cpst Table -->
		<section class="cost-table">
			<div class="cost-table__container">
				<!-- price information -->
				<div class="cost-info same-height">
					<div class="cost-info__col cost-info__col--basic">
						<strong class="cost-info__title"><img src="/images/samaritan-basic.jpg" height="62" width="198" alt="image description"></strong>
						<div class="cost-info-holder height">
							<div class="cost-info-holder__description">
								<strong class="cost-info-holder__title">Monthly Share</strong>
								<p class="cost-info-holder__paragraph">The amount you send directly to other members each month</p>
							</div>
							<div class="cost-description">
								<span class="cost-description__cost">$100-$400 <span class="cost-description__text">pre <br> month</span></span>
								<span class="cost-description__plan-name">Based on age & household size</span>
							</div>
						</div>
					</div>
					<div class="cost-info__col cost-info__col--classic">
						<strong class="cost-info__title"><img src="/images/samaritan-classic.jpg" height="62" width="198" alt="image description"></strong>
						<div class="cost-info-holder height">
							<div class="cost-description">
								<span class="cost-description__cost">$160-$495 <span class="cost-description__text">pre <br> month</span></span>
							</div>
						</div>
					</div>
				</div>
				<div class="full-cost-info">
					<div class="cost-item cost-item--initial-item">
						<div class="cost-item__description">
							<div class="cost-item__icon-wrap">
								<img src="/images/initial-unshareable.svg" width="54" height="54" alt="image description">
							</div>
							<div class="text">
								<h3 class="cost-item__heading">Initial Unshareable</h3>
								<p class="cost-item__paragraph">Sharing starts once a Need exceeds this threshold.</p>
							</div>
						</div>
						<div class="cost-col">
							<div class="cost-col__item cost-col__item--basic"><strong class="cost-col__cost">$1,500</strong></div>
							<div class="cost-col__item cost-col__item--classic"><strong class="cost-col__cost">$300</strong></div>
						</div>
					</div>
					<div class="cost-item cost-item--sharing-item">
						<div class="cost-item__description">
							<div class="cost-item__icon-wrap">
								<img src="/images/sharing-percentage.svg" width="53" height="53" alt="image description">
							</div>
							<div class="text">
								<h3 class="cost-item__heading">Sharing Percentage</h3>
								<p class="cost-item__paragraph">The amount shareable once past the initial unshareable.</p>
							</div>
						</div>
						<div class="cost-col">
							<div class="cost-col__item cost-col__item--basic"><strong class="cost-col__cost">90%</strong></div>
							<div class="cost-col__item cost-col__item--classic"><strong class="cost-col__cost">100%</strong></div>
						</div>
					</div>
					<div class="cost-item cost-item--maternity-item">
						<div class="cost-item__description">
							<div class="cost-item__icon-wrap">
								<img src="/images/maternity-limit.svg" width="47" height="53" alt="image description">
							</div>
							<div class="text">
								<h3 class="cost-item__heading">Maternity Limit</h3>
								<p class="cost-item__paragraph">The max that can be shared for a maternity Need.</p>
							</div>
						</div>
						<div class="cost-col">
							<div class="cost-col__item cost-col__item--basic"><strong class="cost-col__cost">5,000</strong></div>
							<div class="cost-col__item cost-col__item--classic"><strong class="cost-col__cost">250,000</strong></div>
						</div>
					</div>
					<div class="cost-item cost-item--shareable-item">
						<div class="cost-item__description">
							<div class="cost-item__icon-wrap">
								<img src="/images/max-shareable.svg" width="53" height="47" alt="image description">
							</div>
							<div class="text">
								<h3 class="cost-item__heading">Max Shareable</h3>
								<p class="cost-item__paragraph">The maximum that’s shareable per Need.</p>
							</div>
						</div>
						<div class="cost-col">
							<div class="cost-col__item cost-col__item--basic"><strong class="cost-col__cost">236,500</strong></div>
							<div class="cost-col__item cost-col__item--classic"><strong class="cost-col__cost">250,000</strong></div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</body>
</html>
