<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Cost Table</title>

	<link media="all" rel="stylesheet" href="/css/main.css">
	<link media="all" rel="stylesheet" href="/css/layouts/cost-table.css">



	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
</head>
<body>


<div class="cost-table">
  <div class="cost-table__row cost-table__row--titles">

    <div class="feature feature--titles">
      <div class="feature__description"></div>
      <div class="feature__basic">

        <h1 class="membership-level-title membership-level-title--basic">
    			<img class="membership-level-title__image membership-level-title__image--basic" src="/images/samaritan-basic.jpg" alt="Samaritan Basic">
    		</h1>

      </div>
      <div class="feature_divider"></div>
      <div class="feature__classic">

        <h1 class="membership-level-title membership-level-title--classic">
    			<img class="membership-level-title__image membership-level-title__image--classic" src="/images/samaritan-classic.jpg" alt="Samaritan Basic">
    		</h1>

      </div>

    </div>

  </div>
  <div class="cost-table__row cost-table__row--monthly-share">

    <div class="feature feature--monthly-share">
      <div class="feature__description">

        <div class="feature-info feature-info--monthly-share">
          <div class="feature-info__icon-container">
            <img class="feature-info__icon" src="/images/monthly-share.svg" alt="">
          </div>
          <h2 class="feature-info__title">Monthly Share</h2>
          <h3 class="feature-info__subhead">Based on age & household size</h3>
          <p class="feature-info__description">The amount you send directly <br>
            to other members each month</p>
        </div>

      </div>
      <div class="feature__basic">

        <div class="share-amount share-amount--basic">
          <div class="share-amount__container">
            <div class="share-amount__cost">
              $100–$400
            </div>
            <div class="share-amount__frequency">
              per month
            </div>
          </div>
        </div>

      </div>
      <div class="feature_divider"></div>
      <div class="feature__classic">

        <div class="share-amount share-amount--classic">
          <div class="share-amount__container">
            <div class="share-amount__cost">
              $160–$495
            </div>
            <div class="share-amount__frequency">
              per month
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
  <div class="cost-table__row cost-table__row--iua">

    <div class="feature feature--iua">

      <div class="feature__description">
        <div class="feature-info feature-info--iua">
          <div class="feature-info__icon-container">
            <img class="feature-info__icon" src="/images/initial-unshareable.svg" alt="">
          </div>
          <h2 class="feature-info__title">Initial Unshareable</h2>
          <p class="feature-info__description">Sharing starts once a Need<br>
            exceeds this threshold.</p>
        </div>
      </div>

      <div class="feature__basic">
        $1,500
      </div>

      <div class="feature_divider"></div>

      <div class="feature__classic">
        $300
      </div>

    </div>

  </div>
  <div class="cost-table__row cost-table__row--share-percent">

    <div class="feature feature--share-percent">
      <div class="feature__description">

        <div class="feature-info feature-info--share-percent">
          <div class="feature-info__icon-container">
            <img class="feature-info__icon" src="/images/sharing-percentage.svg" alt="">
          </div>
          <h2 class="feature-info__title">Sharing Percentage</h2>
          <p class="feature-info__description">The amount shareable once <br>
            past the initial unshareable.</p>
        </div>

      </div>
      <div class="feature__basic">
        90%
      </div>
      <div class="feature_divider"></div>
      <div class="feature__classic">
        100%
      </div>

    </div>

  </div>
  <div class="cost-table__row cost-table__row--maternity">

    <div class="feature feature--maternity">
      <div class="feature__description">

        <div class="feature-info feature-info--maternity">
          <div class="feature-info__icon-container">
            <img class="feature-info__icon" src="/images/maternity-limit.svg" alt="">
          </div>
          <h2 class="feature-info__title">Maternity Limit</h2>
          <p class="feature-info__description">The amount shareable once <br>
            past the initial unshareable.</p>
        </div>

      </div>
      <div class="feature__basic">

        <div class="maternity-details maternity-details--basic">
          <p class="maternity-details__case maternity-details__case--two-person">
            <span class="maternity-details__household-size">2+ Person:</span> <span class="maternity-details__limit">$5,000</span>
          </p>
          <p class="maternity-details__case maternity-details__case--one-person">
            <span class="maternity-details__household-size">1 Person:</span> <span class="maternity-details__limit">See Details</span>
          </p>
        </div>

      </div>
      <div class="feature_divider"></div>
      <div class="feature__classic">

        <div class="maternity-details maternity-details--classic">
          <p class="maternity-details__case maternity-details__case--two-person">
            <span class="maternity-details__household-size">2+ Person:</span> <span class="maternity-details__limit">$250,000</span>
          </p>
          <p class="maternity-details__case maternity-details__case--one-person">
            <span class="maternity-details__household-size">1 Person:</span> <span class="maternity-details__limit">See Details</span>
          </p>
        </div>

      </div>
      <div class="feature__extra-info">
        A <strong>One-Person Membership is not eligible for maternity care sharing</strong> unless, prior to conception, the member either 1. Adds another member or 2. Signs up for Maternity Care Sharing.
      </div>
    </div>

  </div>
  <div class="cost-table__row cost-table__row--share-max">

    <div class="feature feature--share-max">
      <div class="feature__description">

        <div class="feature-info feature-info--share-max">
          <div class="feature-info__icon-container">
            <img class="feature-info__icon" src="/images/max-shareable.svg" alt="">
          </div>
          <h2 class="feature-info__title">Max Shareable</h2>
          <p class="feature-info__description">The maximum that’s shareable <br>
            per Need.</p>
        </div>

      </div>
      <div class="feature__basic">
        $236,500
      </div>
      <div class="feature_divider"></div>
      <div class="feature__classic">
        $250,000
      </div>

    </div>

  </div>
</div>









<br><br><br><hr><br><br><br>









<div class="cost-table is-invalid">
  <div class="cost-table__row cost-table__row--titles">

    <div class="feature feature--titles">
      <div class="feature__description"></div>
      <div class="feature__basic">

        <h1 class="membership-level-title membership-level-title--basic">
    			<img class="membership-level-title__image membership-level-title__image--basic" src="/images/samaritan-basic.jpg" alt="Samaritan Basic">
    		</h1>

      </div>
      <div class="feature_divider"></div>
      <div class="feature__classic">

        <h1 class="membership-level-title membership-level-title--classic">
    			<img class="membership-level-title__image membership-level-title__image--classic" src="/images/samaritan-classic.jpg" alt="Samaritan Basic">
    		</h1>

      </div>

    </div>

  </div>
  <div class="cost-table__row cost-table__row--monthly-share">

    <div class="feature feature--monthly-share">
      <div class="feature__description">

        <div class="feature-info feature-info--monthly-share">
          <div class="feature-info__icon-container">
            <img class="feature-info__icon" src="/images/monthly-share.svg" alt="">
          </div>
          <h2 class="feature-info__title">Monthly Share</h2>
          <h3 class="feature-info__subhead">Based on age & household size</h3>
          <p class="feature-info__description">The amount you send directly <br>
            to other members each month</p>
        </div>

      </div>
      <div class="feature__basic">

        <div class="share-amount share-amount--basic">
          <div class="share-amount__cost">
            ––
          </div>
          <div class="share-amount__frequency">
            per month
          </div>
        </div>

      </div>
      <div class="feature_divider"></div>
      <div class="feature__classic">

        <div class="share-amount share-amount--classic">
          <div class="share-amount__cost">
            ––
          </div>
          <div class="share-amount__frequency">
            per month
          </div>
        </div>
      </div>

    </div>

  </div>
  <div class="cost-table__row cost-table__row--iua">

    <div class="feature feature--iua">

      <div class="feature__description">
        <div class="feature-info feature-info--iua">
          <div class="feature-info__icon-container">
            <img class="feature-info__icon" src="/images/initial-unshareable.svg" alt="">
          </div>
          <h2 class="feature-info__title">Initial Unshareable</h2>
          <p class="feature-info__description">Sharing starts once a Need<br>
            exceeds this threshold.</p>
        </div>
      </div>

      <div class="feature__basic">
        $1,500
      </div>

      <div class="feature_divider"></div>

      <div class="feature__classic">
        $300
      </div>

    </div>

  </div>
  <div class="cost-table__row cost-table__row--share-percent">

    <div class="feature feature--share-percent">
      <div class="feature__description">

        <div class="feature-info feature-info--share-percent">
          <div class="feature-info__icon-container">
            <img class="feature-info__icon" src="/images/sharing-percentage.svg" alt="">
          </div>
          <h2 class="feature-info__title">Sharing Percentage</h2>
          <p class="feature-info__description">The amount shareable once <br>
            past the initial unshareable.</p>
        </div>

      </div>
      <div class="feature__basic">
        90%
      </div>
      <div class="feature_divider"></div>
      <div class="feature__classic">
        100%
      </div>

    </div>

  </div>
  <div class="cost-table__row cost-table__row--maternity">

    <div class="feature feature--maternity">
      <div class="feature__description">

        <div class="feature-info feature-info--maternity">
          <div class="feature-info__icon-container">
            <img class="feature-info__icon" src="/images/maternity-limit.svg" alt="">
          </div>
          <h2 class="feature-info__title">Maternity Limit</h2>
          <p class="feature-info__description">The amount shareable once <br>
            past the initial unshareable.</p>
        </div>

      </div>
      <div class="feature__basic">

        <div class="maternity-details maternity-details--basic">
          <p class="maternity-details__case maternity-details__case--two-person">
            <span class="maternity-details__household-size">2+ Person:</span> <span class="maternity-details__limit">$5,000</span>
          </p>
          <p class="maternity-details__case maternity-details__case--one-person">
            <span class="maternity-details__household-size">1 Person:</span> <span class="maternity-details__limit">See Details</span>
          </p>
        </div>

      </div>
      <div class="feature_divider"></div>
      <div class="feature__classic">

        <div class="maternity-details maternity-details--classic">
          <p class="maternity-details__case maternity-details__case--two-person">
            <span class="maternity-details__household-size">2+ Person:</span> <span class="maternity-details__limit">$250,000</span>
          </p>
          <p class="maternity-details__case maternity-details__case--one-person">
            <span class="maternity-details__household-size">1 Person:</span> <span class="maternity-details__limit">See Details</span>
          </p>
        </div>

      </div>
      <div class="feature__extra-info">
        A <strong>One-Person Membership is not eligible for maternity care sharing</strong> unless, prior to conception, the member either 1. Adds another member or 2. Signs up for Maternity Care Sharing.
      </div>
    </div>

  </div>
  <div class="cost-table__row cost-table__row--share-max">

    <div class="feature feature--share-max">
      <div class="feature__description">

        <div class="feature-info feature-info--share-max">
          <div class="feature-info__icon-container">
            <img class="feature-info__icon" src="/images/max-shareable.svg" alt="">
          </div>
          <h2 class="feature-info__title">Max Shareable</h2>
          <p class="feature-info__description">The maximum that’s shareable <br>
            per Need.</p>
        </div>

      </div>
      <div class="feature__basic">
        $236,500
      </div>
      <div class="feature_divider"></div>
      <div class="feature__classic">
        $250,000
      </div>

    </div>

  </div>
</div>









<br><br><br><hr><br><br><br>









<div class="cost-table is-household-size-1">
  <div class="cost-table__row cost-table__row--titles">

    <div class="feature feature--titles">
      <div class="feature__description"></div>
      <div class="feature__basic">

        <h1 class="membership-level-title membership-level-title--basic">
    			<img class="membership-level-title__image membership-level-title__image--basic" src="/images/samaritan-basic.jpg" alt="Samaritan Basic">
    		</h1>

      </div>
      <div class="feature_divider"></div>
      <div class="feature__classic">

        <h1 class="membership-level-title membership-level-title--classic">
    			<img class="membership-level-title__image membership-level-title__image--classic" src="/images/samaritan-classic.jpg" alt="Samaritan Basic">
    		</h1>

      </div>

    </div>

  </div>
  <div class="cost-table__row cost-table__row--monthly-share">

    <div class="feature feature--monthly-share">
      <div class="feature__description">

        <div class="feature-info feature-info--monthly-share">
          <div class="feature-info__icon-container">
            <img class="feature-info__icon" src="/images/monthly-share.svg" alt="">
          </div>
          <h2 class="feature-info__title">Monthly Share</h2>
          <h3 class="feature-info__subhead">

            <div class="membership-label">
              <div class="membership-label__image-container">
                <img class="membership-label__image" src="/images/icon-household-size-1.svg" alt="">
              </div>
              <p class="membership-label__text">1 Person, Age 30–44</p>
            </div>

          </h3>
          <p class="feature-info__description">The amount you send directly <br>
            to other members each month</p>
        </div>

      </div>
      <div class="feature__basic">

        <div class="share-amount share-amount--basic">
          <div class="share-amount__cost">
            $120
          </div>
          <div class="share-amount__frequency">
            per month
          </div>
        </div>

      </div>
      <div class="feature_divider"></div>
      <div class="feature__classic">

        <div class="share-amount share-amount--classic">
          <div class="share-amount__cost">
            $220
          </div>
          <div class="share-amount__frequency">
            per month
          </div>
        </div>
      </div>

    </div>

  </div>
  <div class="cost-table__row cost-table__row--iua">

    <div class="feature feature--iua">

      <div class="feature__description">
        <div class="feature-info feature-info--iua">
          <div class="feature-info__icon-container">
            <img class="feature-info__icon" src="/images/initial-unshareable.svg" alt="">
          </div>
          <h2 class="feature-info__title">Initial Unshareable</h2>
          <p class="feature-info__description">Sharing starts once a Need<br>
            exceeds this threshold.</p>
        </div>
      </div>

      <div class="feature__basic">
        $1,500
      </div>

      <div class="feature_divider"></div>

      <div class="feature__classic">
        $300
      </div>

    </div>

  </div>
  <div class="cost-table__row cost-table__row--share-percent">

    <div class="feature feature--share-percent">
      <div class="feature__description">

        <div class="feature-info feature-info--share-percent">
          <div class="feature-info__icon-container">
            <img class="feature-info__icon" src="/images/sharing-percentage.svg" alt="">
          </div>
          <h2 class="feature-info__title">Sharing Percentage</h2>
          <p class="feature-info__description">The amount shareable once <br>
            past the initial unshareable.</p>
        </div>

      </div>
      <div class="feature__basic">
        90%
      </div>
      <div class="feature_divider"></div>
      <div class="feature__classic">
        100%
      </div>

    </div>

  </div>
  <div class="cost-table__row cost-table__row--maternity">

    <div class="feature feature--maternity">
      <div class="feature__description">

        <div class="feature-info feature-info--maternity">
          <div class="feature-info__icon-container">
            <img class="feature-info__icon" src="/images/maternity-limit.svg" alt="">
          </div>
          <h2 class="feature-info__title">Maternity Limit</h2>
          <p class="feature-info__description">The amount shareable once <br>
            past the initial unshareable.</p>
        </div>

      </div>
      <div class="feature__basic">

        <div class="maternity-details maternity-details--basic">
          <p class="maternity-details__case maternity-details__case--two-person">
            <span class="maternity-details__household-size">2+ Person:</span> <span class="maternity-details__limit">$5,000</span>
          </p>
          <p class="maternity-details__case maternity-details__case--one-person">
            <span class="maternity-details__household-size">1 Person:</span> <span class="maternity-details__limit">See Details</span>
          </p>
        </div>

      </div>
      <div class="feature_divider"></div>
      <div class="feature__classic">

        <div class="maternity-details maternity-details--classic">
          <p class="maternity-details__case maternity-details__case--two-person">
            <span class="maternity-details__household-size">2+ Person:</span> <span class="maternity-details__limit">$250,000</span>
          </p>
          <p class="maternity-details__case maternity-details__case--one-person">
            <span class="maternity-details__household-size">1 Person:</span> <span class="maternity-details__limit">See Details</span>
          </p>
        </div>

      </div>
      <div class="feature__extra-info">
        A <strong>One-Person Membership is not eligible for maternity care sharing</strong> unless, prior to conception, the member either 1. Adds another member or 2. Signs up for Maternity Care Sharing.
      </div>
    </div>

  </div>
  <div class="cost-table__row cost-table__row--share-max">

    <div class="feature feature--share-max">
      <div class="feature__description">

        <div class="feature-info feature-info--share-max">
          <div class="feature-info__icon-container">
            <img class="feature-info__icon" src="/images/max-shareable.svg" alt="">
          </div>
          <h2 class="feature-info__title">Max Shareable</h2>
          <p class="feature-info__description">The maximum that’s shareable <br>
            per Need.</p>
        </div>

      </div>
      <div class="feature__basic">
        $236,500
      </div>
      <div class="feature_divider"></div>
      <div class="feature__classic">
        $250,000
      </div>

    </div>

  </div>
</div>









<br><br><br><hr><br><br><br>









<div class="cost-table is-household-size-multi">
  <div class="cost-table__row cost-table__row--titles">

    <div class="feature feature--titles">
      <div class="feature__description"></div>
      <div class="feature__basic">

        <h1 class="membership-level-title membership-level-title--basic">
    			<img class="membership-level-title__image membership-level-title__image--basic" src="/images/samaritan-basic.jpg" alt="Samaritan Basic">
    		</h1>

      </div>
      <div class="feature_divider"></div>
      <div class="feature__classic">

        <h1 class="membership-level-title membership-level-title--classic">
    			<img class="membership-level-title__image membership-level-title__image--classic" src="/images/samaritan-classic.jpg" alt="Samaritan Basic">
    		</h1>

      </div>

    </div>

  </div>
  <div class="cost-table__row cost-table__row--monthly-share">

    <div class="feature feature--monthly-share">
      <div class="feature__description">

        <div class="feature-info feature-info--monthly-share">
          <div class="feature-info__icon-container">
            <img class="feature-info__icon" src="/images/monthly-share.svg" alt="">
          </div>
          <h2 class="feature-info__title">Monthly Share</h2>
          <h3 class="feature-info__subhead">

            <div class="membership-label">
              <div class="membership-label__image-container">
                <img class="membership-label__image" src="/images/icon-household-size-2.svg" alt="">
              </div>
              <p class="membership-label__text">2 Person, Age 30–44</p>
            </div>

          </h3>
          <p class="feature-info__description">The amount you send directly <br>
            to other members each month</p>
        </div>

      </div>
      <div class="feature__basic">

        <div class="share-amount share-amount--basic">
          <div class="share-amount__cost">
            $240
          </div>
          <div class="share-amount__frequency">
            per month
          </div>
        </div>

      </div>
      <div class="feature_divider"></div>
      <div class="feature__classic">

        <div class="share-amount share-amount--classic">
          <div class="share-amount__cost">
            $440
          </div>
          <div class="share-amount__frequency">
            per month
          </div>
        </div>
      </div>

    </div>

  </div>
  <div class="cost-table__row cost-table__row--iua">

    <div class="feature feature--iua">

      <div class="feature__description">
        <div class="feature-info feature-info--iua">
          <div class="feature-info__icon-container">
            <img class="feature-info__icon" src="/images/initial-unshareable.svg" alt="">
          </div>
          <h2 class="feature-info__title">Initial Unshareable</h2>
          <p class="feature-info__description">Sharing starts once a Need<br>
            exceeds this threshold.</p>
        </div>
      </div>

      <div class="feature__basic">
        $1,500
      </div>

      <div class="feature_divider"></div>

      <div class="feature__classic">
        $300
      </div>

    </div>

  </div>
  <div class="cost-table__row cost-table__row--share-percent">

    <div class="feature feature--share-percent">
      <div class="feature__description">

        <div class="feature-info feature-info--share-percent">
          <div class="feature-info__icon-container">
            <img class="feature-info__icon" src="/images/sharing-percentage.svg" alt="">
          </div>
          <h2 class="feature-info__title">Sharing Percentage</h2>
          <p class="feature-info__description">The amount shareable once <br>
            past the initial unshareable.</p>
        </div>

      </div>
      <div class="feature__basic">
        90%
      </div>
      <div class="feature_divider"></div>
      <div class="feature__classic">
        100%
      </div>

    </div>

  </div>
  <div class="cost-table__row cost-table__row--maternity">

    <div class="feature feature--maternity">
      <div class="feature__description">

        <div class="feature-info feature-info--maternity">
          <div class="feature-info__icon-container">
            <img class="feature-info__icon" src="/images/maternity-limit.svg" alt="">
          </div>
          <h2 class="feature-info__title">Maternity Limit</h2>
          <p class="feature-info__description">The amount shareable once <br>
            past the initial unshareable.</p>
        </div>

      </div>
      <div class="feature__basic">

        <div class="maternity-details maternity-details--basic">
          <p class="maternity-details__case maternity-details__case--two-person">
            <span class="maternity-details__household-size">2+ Person:</span> <span class="maternity-details__limit">$5,000</span>
          </p>
          <p class="maternity-details__case maternity-details__case--one-person">
            <span class="maternity-details__household-size">1 Person:</span> <span class="maternity-details__limit">See Details</span>
          </p>
        </div>

      </div>
      <div class="feature_divider"></div>
      <div class="feature__classic">

        <div class="maternity-details maternity-details--classic">
          <p class="maternity-details__case maternity-details__case--two-person">
            <span class="maternity-details__household-size">2+ Person:</span> <span class="maternity-details__limit">$250,000</span>
          </p>
          <p class="maternity-details__case maternity-details__case--one-person">
            <span class="maternity-details__household-size">1 Person:</span> <span class="maternity-details__limit">See Details</span>
          </p>
        </div>

      </div>
      <div class="feature__extra-info">
        A <strong>One-Person Membership is not eligible for maternity care sharing</strong> unless, prior to conception, the member either 1. Adds another member or 2. Signs up for Maternity Care Sharing.
      </div>
    </div>

  </div>
  <div class="cost-table__row cost-table__row--share-max">

    <div class="feature feature--share-max">
      <div class="feature__description">

        <div class="feature-info feature-info--share-max">
          <div class="feature-info__icon-container">
            <img class="feature-info__icon" src="/images/max-shareable.svg" alt="">
          </div>
          <h2 class="feature-info__title">Max Shareable</h2>
          <p class="feature-info__description">The maximum that’s shareable <br>
            per Need.</p>
        </div>

      </div>
      <div class="feature__basic">
        $236,500
      </div>
      <div class="feature_divider"></div>
      <div class="feature__classic">
        $250,000
      </div>

    </div>

  </div>
</div>









<br><br><br><hr><br><br><br>










</body>
</html>
