<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>S2S Deposit</title>


	<link media="all" rel="stylesheet" href="/css/main.css">
	<link media="all" rel="stylesheet" href="/css/layouts/deposit.css">



	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700%7cSource+Serif+Pro:400,600" rel="stylesheet">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js" defer></script>
	<script>window.jQuery || document.write('<script src="/js/jquery-1.12.4.min.js" defer><\/script>')</script>
	<script src="/js/jquery.main.js" defer></script>
</head>
<body>
	<div id="wrapper">




		<section class="deposit-section">
			<div class="container">
				<h2 class="deposit-section__heading">Yearly  Deposits</h2>
				<p class="deposit-section__paragraph">An annually funded personal savings is a requirement for all participants. When large needs occur, these Save to Share<sup>&trade;</sup> members are counted upon to draw from their savings to help pay the large medical bills.</p>
				<!-- deposit information -->
				<ul class="deposit-list">
					<li class="deposit-list-item">
						<strong class="deposit-list__title">Single</strong>
						<div class="deposit-list__img-wrap">
							<img src="/images/deposit-single.png" alt="" class="deposit-list__image">
						</div>
						<span class="deposit-list__value">$133</span>
						<span class="deposit-list__regular">Yearly</span>
					</li>
					<li class="deposit-list-item">
						<strong class="deposit-list__title">Couple</strong>
						<div class="deposit-list__img-wrap">
							<img src="/images/deposit-couple.png" alt="" class="deposit-list__image">
						</div>
						<span class="deposit-list__value">$266</span>
						<span class="deposit-list__regular">Yearly</span>
					</li>
					<li class="deposit-list-item">
						<strong class="deposit-list__title">Family</strong>
						<div class="deposit-list__img-wrap">
							<img src="/images/deposit-family.png" alt="" class="deposit-list__image">
						</div>
						<span class="deposit-list__value">$399</span>
						<span class="deposit-list__regular">Yearly</span>
					</li>
				</ul>
			</div>
		</section>




	</div>
</body>
</html>
