
<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Direct Sharing</title>

	<link rel="stylesheet" type="text/css" href="https://samaritanministries.org/stylesheets/application.css">

	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<link rel="stylesheet" type="text/css" href="/css/layouts/direct-sharing.css">


	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700%7cSource+Serif+Pro:400,600" rel="stylesheet">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js" defer></script>
	<script>window.jQuery || document.write('<script src="js/jquery-1.12.4.min.js" defer><\/script>')</script>
	<script src="/js/jquery.main.js" defer></script>
</head>

<body>


	<div class="content">

	<section class="direct-sharing">
		<div class="container container--md">
			<h2 class="direct-sharing__heading">What does direct sharing look like?</h2>
			<div class="small-container">
				<p class="direct-sharing__paragraph">Every month, <i>members of Samaritan Ministries give to other members with medical needs. Members pray and send their monthly share, along with notes of encouragement, directly to the member in need. This allows members to minister to all aspects of the need: spiritual, emotional, physical, and financial.</i></p>
				<div class="direct-sharing__img-holder">
					<img src="/images/grimm-family.jpg" alt="image description">
				</div>
				<div class="direct-sharing__txt-holder">
					<h3 class="title">The Grimm Family</h3>
					<p class="direct-sharing__paragraph">When the Grimm family received their monthly share assignment, they  saw they would be sharing with the Johnsons for a maternity need. Having recently gone through a maternity need themselves, the Grimm family knew exactly how to pray for and bless the newborn and her family.</p>
				</div>
				<span class="direct-sharing-icon"><img src="/images/sharing-envelope-with-heart-small.svg" alt="image description"></span>
				<div class="direct-sharing__img-holder">
					<img src="/images/johnson-family.png" alt="image description">
				</div>
				<div class="direct-sharing__txt-holder direct-sharing__txt-holder--last">
					<h3 class="title title--green">The Johnson Family</h3>
					<p class="direct-sharing__paragraph">With a new baby at home, the Johnson family was encouraged by the prayer and Scriptures that came with the financial support for their maternity need. They were especially blessed by the notes and prayers coming from member families who could relate to having a newborn.</p>
				</div>
			</div>
			<div class="direct-sharing__wrapper">
				<iframe class="direct-sharing__iframe-video" src="https://player.vimeo.com/video/179059082?color=745c90&title=0&byline=0&portrait=0"></iframe>
			</div>
		</div>
	</section>

	</div>


</body>
</html>
