<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Healthcare Confusion - Text Intro</title>


	<link rel="stylesheet" type="text/css" href="https://samaritanministries.org/stylesheets/application.css">

	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<link rel="stylesheet" type="text/css" href="/css/layouts/healthcare-confusion-intro.css">


	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700%7cSource+Serif+Pro:400,600" rel="stylesheet">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js" defer></script>
	<script>window.jQuery || document.write('<script src="js/jquery-1.12.4.min.js" defer><\/script>')</script>
	<script src="/js/jquery.main.js" defer></script>
</head>

<body>


	<div class="content">

		<section class="healthcare-confusion-intro">
			<div class="container">
				<h1 class="healthcare-confusion-intro__heading">Empower your listeners to take control of their healthcare with Dan Celia.</h1>
				<p class="healthcare-confusion-intro__paragraph">As Cody and Dan have explained, when it comes to health care in America, you have options. There are options that allow you to be both stewards of your finances, and of your health care, and one of those is Samaritan Ministries’ Biblical model of health care sharing. With this unique approach, there are no insurance companies or restrictive networks, and the members make all the choices about their health care with no interference from third parties. It truly is putting members back in the driver’s seat, and giving them the control to make the health care decisions that are best for their families, and their wallets.</p>
			</div>
		</section>

		<br>
		<br>
		<br>
		<br>

		<section class="healthcare-confusion-intro">
			<div class="container">
				<h1 class="healthcare-confusion-intro__heading">Are you ready to become a better steward of your health care?</h1>
				<p class="healthcare-confusion-intro__paragraph">As Cody and Dan have explained, when it comes to health care in America, you have options. There are options that allow you to be both stewards of your finances, and of your health care.</p>
				<p class="healthcare-confusion-intro__paragraph"><strong>Samaritan Ministries’ Biblical model of health care sharing is one of those options.</strong> With this unique approach, there are no insurance companies or restrictive networks, and the members make all the choices about their health care with no interference from third parties. </p>
				<p class="healthcare-confusion-intro__paragraph">It truly is putting members back in the driver’s seat, and giving them the control to make the health care decisions that are best for their families, and their wallets.</p>
				<div class="healthcare-confusion-intro__call-to-action"><a href="#" class="button button--primary button--large button--purple">Download the Program</a></div>		
			</div>
		</section>

	</div>

</body>
</html>
