<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Maternity Care Sharing Intro</title>

  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700%7cSource+Serif+Pro:400,600" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="https://samaritanministries.org/stylesheets/application.css">

	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<link rel="stylesheet" type="text/css" href="/css/layouts/maternity-care-sharing-intro.css">
</head>

<body>
	<div class="content">

		<section class="maternity-care-sharing-intro">
			<div class="maternity-care-sharing-intro__container">

				<h2 class="maternity-care-sharing-intro__header">One-Person memberships<br />must choose one of the following options <strong>prior to conception</strong> for a maternity need to be shared:</h2>

				<p class="maternity-care-sharing-intro__option-header">Option 1</p>
				<p class="maternity-care-sharing-intro__option-sub-header">Add a spouse or dependant to your membership prior to conception.</p>
				<p class="maternity-care-sharing-intro__description">The new Two-Person membership can include both the mother and a second individual, whether a husband or child. The membership must have at least two members prior to conception to meet the requirement. </p>

				<p class="maternity-care-sharing-intro__option-header">Option 2</p>
				<p class="maternity-care-sharing-intro__option-sub-header">Add a spouse or dependant to your membership prior to conception.</p>
				<p class="maternity-care-sharing-intro__description">The new Two-Person membership can include both the mother and a second individual, whether a husband or child. The membership must have at least two members prior to conception to meet the requirement. </p>

				<p class="maternity-care-sharing-intro__guidelines">See <a><span>guidelines</span>: Section IX</a> for more information on maternity sharing.</p>

				<button class="maternity-care-sharing-intro__button">frequently asked questions</button>

			</div>

		</section>

	</div>
</body>
</html>
