<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Foobar</title>

  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700%7cSource+Serif+Pro:400,600" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="https://samaritanministries.org/stylesheets/application.css">

	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<link rel="stylesheet" type="text/css" href="/css/layouts/maternity-care-sharing-info.css">
</head>

<body>
	<div class="content">

		<section class="maternity-care-sharing-info">

			<img src="/images/cube.png" alt="picture of a cube" class="maternity-care-sharing-info_image" />

			<div class="maternity-care-sharing-info__background">

				<div class="maternity-care-sharing-info__container">

					<h3 class="maternity-care-sharing-info__header">Continuing Maternity Initiatives</h3>
					<p class="maternity-care-sharing-info__description">Samaritan Ministries strongly desires to promote the family as part of God’s loving design for His people (Psalm 127:3).</p>
					<p class="maternity-care-sharing-info__description">This commitment has been backed by capital investments out of our administrative funds (which have no impact upon the Shares available for medical Needs).</p>
					<p class="maternity-care-sharing-info__description">We are currently supporting research to explore new options for women with ectopic pregnancies. We have also created The Morning Center in 2011 to provide free, full-service maternity care to women in medically underserved areas. </p>


				</div>

			</div>

		</section>

	</div>
</body>
</html>