<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Foobar</title>

  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700%7cSource+Serif+Pro:400,600" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="https://samaritanministries.org/stylesheets/application.css">

  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <link rel="stylesheet" type="text/css" href="/css/layouts/maternity-care-sharing-faq.css">
</head>

<body>
  <div class="content">

    <section class="maternity-care-sharing-faq">
      <div class="maternity-care-sharing-faq__container">
        <h2 class="maternity-care-sharing-faq__header">Frequently Asked Questions</h2>

        <div class="maternity-care-sharing-faq__question">
          <hr class="maternity-care-sharing-faq__line" />
          <p class="maternity-care-sharing-faq__question">Do I have to add a second member prior to conception in order to share my maternity need?</p>
          <img class="maternity-care-sharing-faq__arrow" src="/images/arrow.png" alt="arrow" />
        </div>
        <div class="maternity-care-sharing-faq__question">
          <hr class="maternity-care-sharing-faq__line" />
          <p class="maternity-care-sharing-faq__question">What happens if I don’t add a second family member before conception? </p>
          <img class="maternity-care-sharing-faq__arrow" src="/images/arrow.png" alt="arrow" />
        </div>
        <div class="maternity-care-sharing-faq__question">
          <hr class="maternity-care-sharing-faq__line" />
          <p class="maternity-care-sharing-faq__question">How do I add my spouse to my plan? </p>
          <img class="maternity-care-sharing-faq__arrow" src="/images/arrow.png" alt="arrow" />
        </div>
        <div class="maternity-care-sharing-faq__question">
          <hr class="maternity-care-sharing-faq__line" />
          <p class="maternity-care-sharing-faq__question">How do I add an existing child to my plan? </p>
          <img class="maternity-care-sharing-faq__arrow" src="/images/arrow.png" alt="arrow" />
        </div>
        <div class="maternity-care-sharing-faq__question">
          <hr class="maternity-care-sharing-faq__line" />
          <p class="maternity-care-sharing-faq__question">What if my husband doesn’t qualify to be an SMI member? </p>
          <img class="maternity-care-sharing-faq__arrow" src="/images/arrow.png" alt="arrow" />
        </div>
        <div class="maternity-care-sharing-faq__question">
          <hr class="maternity-care-sharing-faq__line" />
          <p class="maternity-care-sharing-faq__question">Can I add my unborn child as the second family member? </p>
          <img class="maternity-care-sharing-faq__arrow" src="/images/arrow.png" alt="arrow" />
        </div>
        <div class="maternity-care-sharing-faq__question">
          <hr class="maternity-care-sharing-faq__line" />
          <p class="maternity-care-sharing-faq__question">What if I decide not to add a second family member? </p>
          <img class="maternity-care-sharing-faq__arrow" src="/images/arrow.png" alt="arrow" />
        </div>
        <div class="maternity-care-sharing-faq__question">
          <hr class="maternity-care-sharing-faq__line" />
          <p class="maternity-care-sharing-faq__question">What if I can not afford to add a second family member? </p>
          <img class="maternity-care-sharing-faq__arrow" src="/images/arrow.png" alt="arrow" />
        </div>
        <div class="maternity-care-sharing-faq__question">
          <hr class="maternity-care-sharing-faq__line" />
          <p class="maternity-care-sharing-faq__question">What if I am having a child due to a sexual assault and have no one else to add to my membership? </p>
          <img class="maternity-care-sharing-faq__arrow" src="/images/arrow.png" alt="arrow" />
        </div>
        <div class="maternity-care-sharing-faq__question">
          <hr class="maternity-care-sharing-faq__line" />
          <p class="maternity-care-sharing-faq__question">Will my plan change after my child is born? </p>
          <img class="maternity-care-sharing-faq__arrow" src="/images/arrow.png" alt="arrow" />
        </div>

      </div>
    </section>

  </div>
</body>
</html>