<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Maternity Care Sharing FAQ</title>

  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700%7cSource+Serif+Pro:400,600" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="https://samaritanministries.org/stylesheets/application.css">

  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <link rel="stylesheet" type="text/css" href="/css/layouts/maternity-care-sharing-faq.css">
</head>

<body>
  <div class="content">

    <section class="maternity-care-sharing-faq">
      <div class="maternity-care-sharing-faq__container">
        <h2 class="maternity-care-sharing-faq__header">Frequently Asked Questions</h2>

        <div class="maternity-care-sharing-faq__contact">
          <h3>Contact us directly</h3>
          <div>
            <p class="maternity-care-sharing-faq__phone"><img src="/images/phone.png" class="maternity-care-sharing-faq__phone-icon" />1 (877) 764-2426</p>
            <p class="maternity-care-sharing-faq__hours">Mon, Tue, Wed, Fri:<br/>8:00am – 5:00pm CT</p>
            <p class="maternity-care-sharing-faq__hours">Thur<br/>9:30am – 5:00pm CT</p>
            <p class="maternity-care-sharing-faq__mail"><img src="/images/marker.png" class="maternity-care-sharing-faq__marker-icon" />Send us mail</p>
            <p class="maternity-care-sharing-faq__address">Samaritan Ministries<br/>PO BOX 3618<br/>Peoria, IL 61612</p>
          </div>
        </div>

        <hr class="maternity-care-sharing-faq__line" />
        <div class="maternity-care-sharing-faq__question">
          <p>Do I have to add a second member prior to conception in order to share my maternity need?</p>
          <img class="maternity-care-sharing-faq__arrow" src="/images/arrow.png" alt="arrow" />
        </div>
        <div class="maternity-care-sharing-faq__answer">
          <p>No. Although we consider the unborn child to be a part of the family, we cannot add someone to membership prior to their birth. We need a date of birth in order to add someone to membership.</p>
          <p>Any post-partum Need your baby might have would be shareable, as long as you add him or her to the membership within 30 days of birth.</p>
        </div>

        <hr class="maternity-care-sharing-faq__line" />
        <div class="maternity-care-sharing-faq__question">
          <p>What happens if I don’t add a second family member before conception? </p>
          <img class="maternity-care-sharing-faq__arrow" src="/images/arrow.png" alt="arrow" />
        </div>
        <div class="maternity-care-sharing-faq__answer">
          <p>No. Although we consider the unborn child to be a part of the family, we cannot add someone to membership prior to their birth. We need a date of birth in order to add someone to membership.</p>
          <p>Any post-partum Need your baby might have would be shareable, as long as you add him or her to the membership within 30 days of birth.</p>
        </div>

        <hr class="maternity-care-sharing-faq__line" />
        <div class="maternity-care-sharing-faq__question">
          <p>How do I add my spouse to my plan? </p>
          <img class="maternity-care-sharing-faq__arrow" src="/images/arrow.png" alt="arrow" />
        </div>
        <div class="maternity-care-sharing-faq__answer">
          <p>No. Although we consider the unborn child to be a part of the family, we cannot add someone to membership prior to their birth. We need a date of birth in order to add someone to membership.</p>
          <p>Any post-partum Need your baby might have would be shareable, as long as you add him or her to the membership within 30 days of birth.</p>
        </div>

        <hr class="maternity-care-sharing-faq__line" />
        <div class="maternity-care-sharing-faq__question">
          <p>How do I add an existing child to my plan? </p>
          <img class="maternity-care-sharing-faq__arrow" src="/images/arrow.png" alt="arrow" />
        </div>
        <div class="maternity-care-sharing-faq__answer">
          <p>No. Although we consider the unborn child to be a part of the family, we cannot add someone to membership prior to their birth. We need a date of birth in order to add someone to membership.</p>
          <p>Any post-partum Need your baby might have would be shareable, as long as you add him or her to the membership within 30 days of birth.</p>
        </div>

        <hr class="maternity-care-sharing-faq__line" />
        <div class="maternity-care-sharing-faq__question">
          <p>What if my husband doesn’t qualify to be an SMI member? </p>
          <img class="maternity-care-sharing-faq__arrow" src="/images/arrow.png" alt="arrow" />
        </div>
        <div class="maternity-care-sharing-faq__answer">
          <p>No. Although we consider the unborn child to be a part of the family, we cannot add someone to membership prior to their birth. We need a date of birth in order to add someone to membership.</p>
          <p>Any post-partum Need your baby might have would be shareable, as long as you add him or her to the membership within 30 days of birth.</p>
        </div>

        <hr class="maternity-care-sharing-faq__line" />
        <div class="maternity-care-sharing-faq__question">
          <p>Can I add my unborn child as the second family member? </p>
          <img class="maternity-care-sharing-faq__arrow" src="/images/arrow.png" alt="arrow" />
        </div>
        <div class="maternity-care-sharing-faq__answer">
          <p>No. Although we consider the unborn child to be a part of the family, we cannot add someone to membership prior to their birth. We need a date of birth in order to add someone to membership.</p>
          <p>Any post-partum Need your baby might have would be shareable, as long as you add him or her to the membership within 30 days of birth.</p>
        </div>

        <hr class="maternity-care-sharing-faq__line" />
        <div class="maternity-care-sharing-faq__question">
          <p>What if I decide not to add a second family member? </p>
          <img class="maternity-care-sharing-faq__arrow" src="/images/arrow.png" alt="arrow" />
        </div>
        <div class="maternity-care-sharing-faq__answer">
          <p>No. Although we consider the unborn child to be a part of the family, we cannot add someone to membership prior to their birth. We need a date of birth in order to add someone to membership.</p>
          <p>Any post-partum Need your baby might have would be shareable, as long as you add him or her to the membership within 30 days of birth.</p>
        </div>

        <hr class="maternity-care-sharing-faq__line" />
        <div class="maternity-care-sharing-faq__question">
          <p>What if I can not afford to add a second family member? </p>
          <img class="maternity-care-sharing-faq__arrow" src="/images/arrow.png" alt="arrow" />
        </div>
        <div class="maternity-care-sharing-faq__answer">
          <p>No. Although we consider the unborn child to be a part of the family, we cannot add someone to membership prior to their birth. We need a date of birth in order to add someone to membership.</p>
          <p>Any post-partum Need your baby might have would be shareable, as long as you add him or her to the membership within 30 days of birth.</p>
        </div>

        <hr class="maternity-care-sharing-faq__line" />
        <div class="maternity-care-sharing-faq__question">
          <p>What if I am having a child due to a sexual assault and have no one else to add to my membership? </p>
          <img class="maternity-care-sharing-faq__arrow" src="/images/arrow.png" alt="arrow" />
        </div>
        <div class="maternity-care-sharing-faq__answer">
          <p>No. Although we consider the unborn child to be a part of the family, we cannot add someone to membership prior to their birth. We need a date of birth in order to add someone to membership.</p>
          <p>Any post-partum Need your baby might have would be shareable, as long as you add him or her to the membership within 30 days of birth.</p>
        </div>

        <hr class="maternity-care-sharing-faq__line" />
        <div class="maternity-care-sharing-faq__question">
          <p>Will my plan change after my child is born? </p>
          <img class="maternity-care-sharing-faq__arrow" src="/images/arrow.png" alt="arrow" />
        </div>
        <div class="maternity-care-sharing-faq__answer">
          <p>No. Although we consider the unborn child to be a part of the family, we cannot add someone to membership prior to their birth. We need a date of birth in order to add someone to membership.</p>
          <p>Any post-partum Need your baby might have would be shareable, as long as you add him or her to the membership within 30 days of birth.</p>
        </div>

        <hr class="maternity-care-sharing-faq__line" />

        <div class="maternity-care-sharing-faq__contact-mobile">
          <h3>Contact us directly</h3>
          <div class="maternity-care-sharing-faq__contact-container">
            <div>
              <p class="maternity-care-sharing-faq__phone"><img src="/images/phone.png" class="maternity-care-sharing-faq__phone-icon" />1 (877) 764-2426</p>
              <p class="maternity-care-sharing-faq__hours">Mon, Tue, Wed, Fri:<br/>8:00am – 5:00pm CT</p>
              <p class="maternity-care-sharing-faq__hours">Thur<br/>9:30am – 5:00pm CT</p>
            </div>
            <div>
              <p class="maternity-care-sharing-faq__mail"><img src="/images/marker.png" class="maternity-care-sharing-faq__marker-icon" />Send us mail</p>
              <p class="maternity-care-sharing-faq__address">Samaritan Ministries<br/>PO BOX 3618<br/>Peoria, IL 61612</p>
            </div>
          </div>
        </div>

      </div>

    </section>

  </div>
</body>
</html>

<script>
  var questions = document.querySelectorAll(".maternity-care-sharing-faq__question")

  questions.forEach(function(question) {
    question.addEventListener("click", function() {
      if (question.nextSibling.nextSibling.classList.contains("active")) {
        question.childNodes[3].className = "maternity-care-sharing-faq__arrow"
        question.nextSibling.nextSibling.className = "maternity-care-sharing-faq__answer"
      } else {
        question.childNodes[3].className = "maternity-care-sharing-faq__arrow active"
        question.nextSibling.nextSibling.className = "maternity-care-sharing-faq__answer active"
      }
    })
  })
</script>
