<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Foobar</title>

  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700%7cSource+Serif+Pro:400,600" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="https://samaritanministries.org/stylesheets/application.css">

	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<link rel="stylesheet" type="text/css" href="/css/layouts/maternity-care-sharing-info.css">
</head>

<body>
	<div class="content">

		<section class="maternity-care-sharing-info">

			<img src="/images/family.png" alt="picture of a happy family" class="maternity-care-sharing-info_image" />

			<div class="maternity-care-sharing-info__background">

				<div class="maternity-care-sharing-info__container">

					<h3 class="maternity-care-sharing-info__header">Balancing Needs and Shares</h3>
					<p class="maternity-care-sharing-info__description">One-Person memberships with maternity Needs consistently used far more dollars in Needs than are contributed in Shares. Samaritan Ministries’ member-elected leadership determined that a change to the maternity guidelines was needed in order to better balance Needs and Shares.</p>
					<p class="maternity-care-sharing-info__description">By limiting maternity sharing to 2+ person households and creating the Maternity Care Sharing option, our goal was to reduce this imbalance and do so in a way that honors our core values of life and family.</p>

					<h3 class="maternity-care-sharing-info__header">Our Heart</h3>
					<p class="maternity-care-sharing-info__description">We believe that children are a gift from the Lord and want to make sure that our maternity sharing guidelines are as expansive as they can possibly be. As a result, this change to our Guideline is not one we made lightly.</p>
					<p class="maternity-care-sharing-info__description">If you have any questions about this guideline, please contact us by phone at 877-764-2426 or by email at <a>membership@samaritanministries.org.</a></p>

				</div>

			</div>

		</section>

	</div>
</body>
</html>