<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>S2S Monthly Withdrawls</title>


	<link media="all" rel="stylesheet" href="/css/main.css">
	<link media="all" rel="stylesheet" href="/css/layouts/monthly-withdrawals.css">



	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700%7cSource+Serif+Pro:400,600" rel="stylesheet">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js" defer></script>
	<script>window.jQuery || document.write('<script src="/js/jquery-1.12.4.min.js" defer><\/script>')</script>
	<script src="/js/jquery.main.js" defer></script>
</head>
<body>
	<div id="wrapper">




		<section class="monthly-withdrawals">
			<div class="container">
				<h2 class="monthly-withdrawals__heading">Monthly Withdrawals</h2>
				<p class="monthly-withdrawals__paragraph">The size of Save to Share<sup>&trade;</sup> needs vary from month to month based on need amounts.</p>
				<strong class="monthly-withdrawals__text">2017 Average Monthly Withdrawal</strong>
				<span class="monthly-withdrawals__average-value">$20</span>
			</div>
		</section>




	</div>
</body>
</html>
