<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Provider Restrictions</title>

	<link rel="stylesheet" type="text/css" href="https://samaritanministries.org/stylesheets/application.css">

	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<link rel="stylesheet" type="text/css" href="/css/layouts/provider-restrictions.css">


	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700%7cSource+Serif+Pro:400,600" rel="stylesheet">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js" defer></script>
	<script>window.jQuery || document.write('<script src="js/jquery-1.12.4.min.js" defer><\/script>')</script>
	<script src="/js/jquery.main.js" defer></script>
</head>

<body>




	<div class="content">

		<section class="provider-restrictions">
			<div class="container container--lg">
				<h2 class="provider-restrictions__heading">No Network or PPO Restrictions</h2>
				<div class="provider-restrictions__content">
					<div class="txt-holder">
						<p class="provider-restrictions__paragraph"><b>Members of Samaritan Ministries</b> aren’t restricted to seeing certain doctors or staying within a network. This freedom gives you the opportunity to choose the doctor, hospital, and pharmacy that works best for your family whenever you need medical care.</p>
						<p class="provider-restrictions__paragraph">Samaritan Ministries doesn’t dictate which doctor you see, what treatment is prescribed, or how it is administered. Members may adhere to traditional medicine, or they have the freedom to pursue alternative treatment methods as prescribed by a licensed medical provider.</p>
					</div>
					<div class="icon-holder"><img src="/images/network-choice.svg" alt="image description"></div>
				</div>
				<div class="provider-restrictions__content-center">
					<div class="holder">
						<span class="icon-holder"><img src="/images/benjamin.svg" alt="image description"></span>
						<div class="txt-holder">
							<p class="provider-restrictions__paragraph">Know Where Your Money Goes<br/><i>As a member of Samaritan Ministries, you can be confident that no money goes towards unbiblical practices such as abortion. Members are also exempt from the requirements of the Affordable Care Act.</i></p>
						</div>
					</div>
				</div>
			</div>
		</section>

	</div>





</body>
</html>
