<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Share Amounts</title>


	<link rel="stylesheet" type="text/css" href="https://samaritanministries.org/stylesheets/application.css">

	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<link rel="stylesheet" type="text/css" href="/css/layouts/share-amounts.css">


	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700%7cSource+Serif+Pro:400,600" rel="stylesheet">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js" defer></script>
	<script>window.jQuery || document.write('<script src="js/jquery-1.12.4.min.js" defer><\/script>')</script>
	<script src="/js/jquery.main.js" defer></script>
</head>

<body>





	<div class="content">

		<section class="share-amounts">
			<div class="container container--lg">
				<h2 class="share-amounts__heading">Monthly Share Amounts</h2>
				<span class="share-amounts__subtitle">The amount you send directly to other members each month</span>
				<div class="cost-info same-height">
					<div class="cost-info__col cost-info__col--basic">
						<strong class="cost-info__title"><img src="/images/samaritan-basic.png" alt="image description"></strong>
						<div class="cost-info-holder">
							<div class="cost-description height">
								<span class="cost-description__cost">$100-$400</span>
								<span class="cost-description__txt">per<br/> month</span>
							</div>
						</div>
					</div>
					<div class="cost-info__col cost-info__col--clasic">
						<strong class="cost-info__title"><img src="/images/samaritan-classic.png" alt="image description"></strong>
						<div class="cost-info-holder">
							<div class="cost-description height">
								<span class="cost-description__cost">$160-$495</span>
								<span class="cost-description__txt">per<br/> month</span>
							</div>
						</div>
					</div>
				</div>
				<div class="cost-btn-holder">
					<a href="#" class="btn-calculate">Calculate your monthly share.</a>
				</div>
				<div class="save2share">
					<span class="save2share__icon"><img src="/images/save-2-share-green.svg" alt="image description"></span>
					<span class="save2share__title">Save to Share <sup>TM</sup></span>
					<span class="save2share__optional">(Optional)</span>
					<div class="small-container">
						<p class="save2share__paragraph">Samaritan Members can opt into Save to Share™ as an added level of  support for large needs. When needs exceed the maximum shareable amount, that’s where Save to Share™ comes in.</p>
					</div>
				</div>
			</div>
		</section>

	</div>





</body>
</html>
