
<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Sharing Process</title>

	<link rel="stylesheet" type="text/css" href="https://samaritanministries.org/stylesheets/application.css">

	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<link rel="stylesheet" type="text/css" href="/css/layouts/sharing-process.css">


	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700%7cSource+Serif+Pro:400,600" rel="stylesheet">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js" defer></script>
	<script>window.jQuery || document.write('<script src="js/jquery-1.12.4.min.js" defer><\/script>')</script>
	<script src="/js/jquery.main.js" defer></script>
</head>

<body>


	<div class="content">

		<section class="sharing-process">
			<div class="container container--lg">
				<h2 class="sharing-process__heading">How Sharing Works</h2>
				<ul class="process-list same-height">
					<li class="process-list__item">
						<div class="process-list__head">
							<span class="process-list__number">1</span>
							<span class="process-list__title">A Need Begins</span>
						</div>
						<div class="process-list__wrap height">
							<div class="process-list__icon-holder"><img src="/images/process1_need.svg" alt=""></div>
							<p class="process-list__paragraph">When a member has a Need, they receive treatment from a provider of their choice, collects the bills, and sends them to Samaritan Ministries office to start the need process.</p>
							<div class="process-list__icon-holder--icon05"><img src="/images/process1b_docs.svg" alt=""></div>
							<span class="process-list__info">Go to the doctor of your choice</span>
							<div class="process-list__icon-holder--icon06"><img src="/images/process1c_bill.svg" alt=""></div>
							<span class="process-list__info">Collect bills</span>
						</div>
					</li>
					<li class="process-list__item process-list__item--green">
						<div class="process-list__head">
							<span class="process-list__number">2</span>
							<span class="process-list__title">The Need is Shared</span>
						</div>
						<div class="process-list__wrap height">
							<div class="process-list__icon-holder"><img src="/images/process2_allocate.svg" alt=""></div>
							<p class="process-list__paragraph">The Samaritan Ministries staff  verifies that the need meets the Guidelines, then directs other members to send their shares to the member with the need.</p>
							<div class="process-list__icon-holder--icon08"><img src="/images/process2b_send-bills.svg" alt=""></div>
							<span class="process-list__info">Send your bills to Samaritan</span>
							<div class="process-list__icon-holder--icon09"><img src="/images/process2c_share.svg" alt=""></div>
							<span class="process-list__info">Samaritan assigns Shares to members</span>
						</div>
					</li>
					<li class="process-list__item process-list__item--orange">
						<div class="process-list__head">
							<span class="process-list__number">3</span>
							<span class="process-list__title">The Burden is Lifted</span>
						</div>
						<div class="process-list__wrap height">
							<div class="process-list__icon-holder"><img src="/images/process3_balloon.svg" alt=""></div>
							<p class="process-list__paragraph">The member in need receives shares from the designated members to help pay their medical bills, along with prayer and notes of encouragement.</p>
							<div class="process-list__icon-holder--icon11"><img src="/images/process3b_check.svg" alt=""></div>
							<span class="process-list__info">Members pray, encourage, &#38; send shares directly to you</span>
							<div class="process-list__icon-holder--icon12"><img src="/images/process3c_pay.svg" alt=""></div>
							<span class="process-list__info">You use the</span>
						</div>
					</li>
				</ul>
			</div>
		</section>

	</div>


</body>
</html>
