<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Switching Membership</title>


	<link media="all" rel="stylesheet" href="/css/main.css">
	<link media="all" rel="stylesheet" href="/css/layouts/switching-membership.css">



	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700%7cSource+Serif+Pro:400,600" rel="stylesheet">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js" defer></script>
	<script>window.jQuery || document.write('<script src="/js/jquery-1.12.4.min.js" defer><\/script>')</script>
	<script src="/js/jquery.main.js" defer></script>
</head>
<body>
	<div id="wrapper">




		<section class="switching-membership">
			<div class="container md-container">
				<h2 class="switching-membership__heading">Switching Membership Levels</h2>
				<span class="switching-membership__alert"><i class="switching-membership__icon">!</i> Here are some things you should know first</span>
				<!-- quick information -->
				<div class="membership-info same-height">
					<div class="membership-info__col">
						<div class="membership-info__img-holder height">
							<img src="/images/switching-fee.png" alt="image description" class="membership-info__image">
						</div>
						<strong class="membership-info__title">$100 Switching fee</strong>
						<p class="membership-info_paragraph">Member’s switching from Basic to Classic, or vice versa, are required to pay a non-refundable switching fee of $100.</p>
					</div>
					<div class="membership-info__col">
						<div class="membership-info__img-holder height">
							<img src="/images/needs-archived.png" alt="image description" class="membership-info__image">
						</div>
						<strong class="membership-info__title">Needs are Archived</strong>
						<p class="membership-info_paragraph">All previous, ongoing, or pending needs will be archived, and you won’t be able to upload new bills or receive more shares for those needs.</p>
					</div>
				</div>
			</div>
		</section>




	</div>
</body>
</html>
