
<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Verse</title>

	<link rel="stylesheet" type="text/css" href="https://samaritanministries.org/stylesheets/application.css">

	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<link rel="stylesheet" type="text/css" href="/css/layouts/text-verse.css">


	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700%7cSource+Serif+Pro:400,600" rel="stylesheet">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js" defer></script>
	<script>window.jQuery || document.write('<script src="js/jquery-1.12.4.min.js" defer><\/script>')</script>
	<script src="/js/jquery.main.js" defer></script>
</head>

<body>




	<div class="content">




		<section class="text-verse">
			<div class="container">
				<p class="text-verse__paragraph">As the cost of health care rises, members of Samaritan Ministries are choosing to put their trust in God and His Church when it comes to their health care needs. Members come from many Church denominations and span the globe, uniting as one Body to meet the physical, spiritual, and financial aspects of the medical needs of their fellow brothers and sisters in Christ.</p>
				<blockquote class="text-verse__blockquote"><q>For just as the body is one and has many members, and all the members of the body, though many, are one body, so it is with Christ.</q></blockquote>
			</div>
		</section>




	</div>




</body>
</html>
