<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Video Introduction</title>


	<link media="all" rel="stylesheet" href="/css/main.css">
	<link media="all" rel="stylesheet" href="/css/layouts/video-introduction.css">



	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700%7cSource+Serif+Pro:400,600" rel="stylesheet">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js" defer></script>
	<script>window.jQuery || document.write('<script src="/js/jquery-1.12.4.min.js" defer><\/script>')</script>
	<script src="/js/jquery.main.js" defer></script>
</head>
<body>
	<div id="wrapper">




		<section class="video-introduction">
			<div class="container">
				<h2 class="video-introduction__heading">Introducing Samaritan BASIC</h2>
				<div class="video-introduction__video-wrapper">
          <iframe class="video-introduction__iframe-video" src="https://player.vimeo.com/video/232680932?color=ffffff&title=0&byline=0&portrait=0" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
				<p class="video-introduction__paragraph">By launching Samaritan Basic, we hope to give former members like you a new way to experience the blessing of sharing medical needs, through Biblical community.</p>
				<p class="video-introduction__paragraph">Take a look!</p>

			</div>
		</section>




	</div>
</body>
</html>
