<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Video Section</title>

	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700%7cSource+Serif+Pro:400,600" rel="stylesheet">

	<link rel="stylesheet" type="text/css" href="https://samaritanministries.org/stylesheets/application.css">

	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<link rel="stylesheet" type="text/css" href="/css/layouts/video-section.css">
</head>

<body>
	<div class="content">


		<section class="video-section christians-helping-christians">
			<div class="video-section__container">
				<div class="video-section__iframe-wrapper">
					<iframe class="video-introduction__iframe-video" src="https://player.vimeo.com/video/196315450?color=745c90&title=0&byline=0&portrait=0"  frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
				</div>
				<h3 class="video-section__heading">Christians helping Christians <br>
          with their Health Care</h3>
				<p class="video-section__paragraph">Health care sharing in Samaritan Ministries is a Biblical way to help your family and care for your brothers and sisters in Christ. Every month Samaritan members help one another with their health care needs by praying, encouraging, and giving to each other financially.</p>
				<p class="video-section__paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem nostrum nihil, quae culpa accusantium illum delectus adipisci dolor dolores numquam beatae hic assumenda illo ea repudiandae saepe officiis excepturi sequi.</p>
			</div>
		</section>


    <hr>


  	<section class="video-section">
			<div class="video-section__container">
				<div class="video-section__iframe-wrapper">
					<iframe class="video-introduction__iframe-video" src="https://player.vimeo.com/video/196315450?color=745c90&title=0&byline=0&portrait=0"></iframe>
				</div>
				<p class="video-section__paragraph">Health care sharing in Samaritan Ministries is a Biblical way to help your family and care for your brothers and sisters in Christ. Every month Samaritan members help one another with their health care needs by praying, encouraging, and giving to each other financially.</p>
			</div>
		</section>


	</div>
</body>
</html>
