<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Youth Leader Contest</title>


	<link rel="stylesheet" href="https://samaritanministries.org/stylesheets/application.css">

	<link rel="stylesheet" href="/css/main.css">
	<link rel="stylesheet" href="/css/layouts/youth-leader-contest.css">
	<link rel="stylesheet" href="/css/layouts/form.css">


	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700%7cSource+Serif+Pro:400,600" rel="stylesheet">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js" defer></script>
	<script>window.jQuery || document.write('<script src="/js/jquery-1.12.4.min.js" defer><\/script>')</script>
	<script src="/js/jquery.main.js" defer></script>


</head>
<body>
	<div id="wrapper">




		<!-- Contest -->
		<section class="youth-leader-contest">


			<div class="youth-leader-contest__description-wrapper">
				<p class="youth-leader-contest__description">At Samaritan Ministries, we strive to develop authentic, Biblical community. Our members are joining together to financially support and spiritually encourage each other while facing a medical need.</p>

				<div class="youth-leader-contest__video-wrapper">
          <iframe class="youth-leader-contest__iframe-video" src="https://player.vimeo.com/video/251853307?color=ffffff&title=0&byline=0&portrait=0" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>

				<p class="youth-leader-contest__description">I’ll bet your youth group is doing some pretty cool things to build Christian community too. We want to hear about it!</p>

				<p class="youth-leader-contest__description">We also want to know how $1000 would be a blessing to your youth group.</p>

				<p class="youth-leader-contest__description">Grab your iPhone, grab your youths and shoot a video. Tell us what you’re doing and what your youth group needs. Upload your video to your platform of choice (we recommend Vimeo or Youtube) and fill out this form to send us the link.</p>
			</div>



			<form class="form" action="#">
        <div class="row row--nested">
					<fieldset class="form__input-group">

            <div class="row row--nested">
              <div class="column column--full column--nested">
                <label for="video-url">Video URL <span class="form__helper-text">(Make sure its public so we can watch it)</span> </label>
								<input type="text" value="" name="video_url"id="video-url" required>
              </div>

              <div class="column column--full column--nested">
                <label for="first-name">First Name</label>
								<input type="text" value="" name="first_name"id="first-name" required>
              </div>

		          <div class="column column--full column--nested">
		            <label for="last-name">Last Name</label>
								<input type="text" value="" name="last_name"id="last-name" required>
		          </div>

              <div class="column column--full column--nested">
                <label for="email">E-mail</label>
								<input type="email" value="" name="email" id="email" required>
              </div>

              <div class="column column--full column--nested">
                <label for="phone">Phone</label>
                <input type="tel" name="phone" id="phone" required>
              </div>

              <div class="column column--full column--nested">
                <label for="church-name">Church Name</label>
                <input type="text" name="church_name" id="church-name" required>
              </div>

              <div class="column column--full column--nested">
                <label for="church-url">Church URL</label>
                <input type="text" name="church_url" id="church-url" required>
              </div>

              <div class="column column--full column--nested">
                <label for="staff-size">Number of Staff</label>
                <input type="number" name="staff_size" id="staff-size" required>
              </div>

							<div class="column column--full column--nested">
                <p><input type="submit" value="Submit" class="button--navigation button--special-blue"></p>
              </div>
            </div>

					</fieldset>
        </div>
      </form>


		</section>



	</div>
</body>
</html>
