$breakpoints: (
	'xs-phone': 320px,
	'phone': 480px,
	'tablet': 768px,
	'desktop': 1024px,
	'widescreen': 1200px
);

// keywords
$media-expressions: (
	'screen': 'screen',
	'print': 'print',
	'handheld': 'handheld',
	'landscape': '(orientation: landscape)',
	'portrait': '(orientation: portrait)',
	'retina2x': '(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)',
	'retina3x': '(-webkit-min-device-pixel-ratio: 2.5), (min-resolution: 240dpi)'
);

@import '../vendors/include-media';
@import '../base/mixins';
@import '../base/variables';
@import '../base/helpers';


.contest {
	padding: 0;
	margin: 36px auto;
	color: $base-text-color;
	font: #{$font-size-base}/#{$line-height-base} $base-font-family;
	background: $white;
	border: 1px solid #D4D4D4;
	border-radius: 10px;
	overflow: hidden;
	max-width: 600px;

	*, *:before, *:after {
		box-sizing: border-box;
	}
}

.contest__header-wrapper {
	margin: auto;
	margin-bottom: 36px;
	max-width: 600px;
}

.contest__header-img {
	display: block;
	width: 100%;
	margin: auto;
	margin-bottom: 36px;
}

.contest__heading {
	font-size: 41px;
	font-weight: 300;
	line-height: 72px;
	margin: 0;
	margin-bottom: 18px;
	padding: 0 36px;
	text-align: left;
}

.contest__description {
	color: $base-text-color;
	font: #{$font-size-base}/#{$line-height-base} $base-font-family;
	margin: 0;
	padding: 0 36px;
}




.contest-form {
	margin: auto;
}

.contest-form__input-group {
	border: none;
	margin: 0 auto;
	padding: 0 36px;
	// max-width: 320px;
	display: block;
}

.contest-form__input-group .column {
	padding: 1rem 0 !important;
}


.contest-form .label {
	color: #24292c;
	display: block;
	font-size: 0.8rem;
	font-weight: 600;
	line-height: 2;
	margin: 0 0 0.3rem 0;
	text-align: left;
}
