// ligatured operators ≥ ≤
$breakpoints: (
  'xs-phone': 320px,
  'phone': 480px,
  'tablet': 768px,
  'desktop': 1024px,
  'widescreen': 1200px
);

// keywords
$media-expressions: (
  'screen': 'screen',
  'print': 'print',
  'handheld': 'handheld',
  'landscape': '(orientation: landscape)',
  'portrait': '(orientation: portrait)',
  'retina2x': '(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)',
  'retina3x': '(-webkit-min-device-pixel-ratio: 2.5), (min-resolution: 240dpi)'
);

@import '../vendors/include-media';
@import '../base/mixins';
@import '../base/variables';
@import '../base/helpers';








.cost-table {
  padding: 0;
  margin: 0;

  @include media('>=desktop') {
    max-width: 768px;
    margin: auto;
  }
}

.cost-table__row--titles {
  // padding: 16px;
  border-bottom: none;
}

.cost-table__row--monthly-share {
  background-color: #f5f6f7;
  border-top: 1px solid #d4d4d4;
  border-bottom: 1px solid #d4d4d4;

  @include media('>=desktop') {
    border: 1px solid #d4d4d4;
    border-radius: 10px;
  }
}








.feature {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 9px 1fr;
  grid-template-areas:
    'desc     desc      desc'
    'basic    divider   classic';
  grid-row-gap: 16px;
  justify-items: stretch;
  align-items: center;
  max-width: 320px;
  padding: 16px;
  margin: auto;

  @include media('>=tablet') {
    grid-template-columns: 2fr 1fr 9px 1fr;
    grid-template-areas: 'desc basic divider classic';
    max-width: 768px;
  }
}

.feature::after {
  position: absolute;
  bottom: 0;
  left: 16px;
  width: calc(100% - 32px);
  height: 1px;
  content: '';
  background: #d4d4d4;

  @include media('>=tablet') {
    left: 86px;
    width: calc(100% - 102px);
  }
}

.feature__description {
  grid-area: desc;
  justify-self: stretch;
}

.feature__basic {
  grid-area: basic;
  font-family: $base-font-family;
  font-size: 27px;
  font-weight: 300;
  line-height: 36px;
  color: $basic-orange;
  text-align: center;
}

.feature_divider {
  grid-area: divider;
  width: 4px;
  height: 100%;
  min-height: 54px;
  content: '';
  background-color: $black;
  border-radius: 4px;
}

.feature__classic {
  grid-area: classic;
  font-family: $base-font-family;
  font-size: 27px;
  font-weight: 300;
  line-height: 36px;
  color: $classic-purple;
  text-align: center;
}


.feature--titles {
  grid-template-areas: 'basic divider classic';
  border-bottom: none;

  @include media('>=tablet') {
    grid-template-areas: 'desc basic divider classic';
  }

  &::after {
    background: transparent;
  }

  .feature__description {
    display: none;
  }

  .feature_divider {
    background-color: transparent;
  }
}

.feature--monthly-share {
  border-bottom: none;

  &::after {
    background: transparent;
  }

  .feature_divider {
    background-color: transparent;
  }
}

.feature--iua {
  .feature_divider {
    background-color: $iua-pink;
  }
}

.feature--share-percent {
  .feature_divider {
    background-color: $sharing-percentage-green;
  }
}

.feature--maternity {
  grid-template-areas:
    'desc     desc      desc'
    'basic    divider   classic'
    'info     info      info';

  @include media('>=tablet') {
    grid-template-areas:
      'desc  basic divider classic'
      'empty info  info    info';
  }

  .feature__extra-info {
    grid-area: info;
    padding: 11px;
    font-family: $base-font-family;
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
    color: $base-text-color;
    background-color: $maternity-light-blue;
    border: 2px solid $maternity-blue;
    border-radius: 10px;

  }

  .feature_divider {
    background-color: $maternity-blue;
  }
}

.feature--share-max {
  &::after {
    background: transparent;
  }

  .feature_divider {
    background-color: $max-shareable-purple;
  }
}








.membership-level-title {
  padding: 0;
  margin: 0;
}

.membership-level-title__image {
  display: block;
  width: 100%;
  height: auto;
  margin: auto;

  @include media('>=tablet') {
    width: 90%;
  }
}








.feature-info {
  display: grid;
  grid-template-columns: 54px 1fr;
  grid-template-areas:
    'icon title'
    'icon description';
  grid-column-gap: 10px;

  @include media('>=tablet') {
    grid-column-gap: 16px;
  }
}

.feature-info__icon-container {
  grid-area: icon;
}

.feature-info__icon {
  display: block;
  float: right;
  width: 100%;
  max-width: 54px;
  height: auto;
  margin-top: 10px;
}

.feature-info__title {
  grid-area: title;
  padding: 0;
  margin: 0;
  font-family: $base-font-family;
  font-size: 27px;
  font-weight: 400;
  line-height: 36px;
  color: $base-text-color;
}

.feature-info__description {
  grid-area: description;
  padding: 0;
  margin: 0;
  font-family: $base-font-family;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: $base-text-color;
}


.feature-info--monthly-share {
  grid-template-rows: auto auto 30px;
  grid-template-areas:
    'icon title'
    'icon description'
    'subhead subhead';

  @include media('>=tablet') {
    grid-template-rows: auto auto auto;
    grid-template-areas:
      'icon title'
      'icon subhead'
      'icon description';
  }

  .feature-info__subhead {
    grid-area: subhead;
    align-self: end;
    justify-self: center;
    padding-top: 12px;
    margin: 0;
    font-family: $base-font-family;
    font-size: 18px;
    font-weight: 600;
    line-height: 18px;
    color: $base-text-color;

    @include media('>=tablet') {
      justify-self: start;
      align-self: center;
      padding-top: 0;
      line-height: 26px;
    }
  }

  .feature-info__title {
    color: $share-red;
  }
}

.feature-info--iua {
  .feature-info__title {
    color: $iua-pink;
  }
}

.feature-info--maternity {
  .feature-info__title {
    color: $maternity-blue;
  }
}

.feature-info--share-percent {
  .feature-info__title {
    color: $sharing-percentage-green;
  }
}

.feature-info--share-max {
  .feature-info__title {
    color: $max-shareable-purple;
  }
}







.share-amount {
  padding: 12px;
  border-radius: 10px;

  @include media('>=tablet') {
    padding: 16px;
  }
}

.share-amount__container {
  display: inline-block;
}

.share-amount__cost {
  font-family: $base-font-family;
  font-size: 27px;
  font-weight: 300;
  line-height: 29px;
  color: $white;
  text-align: right;

  @include media('>=tablet') {
    font-size: 36px;
    line-height: 36px;
  }
}

.share-amount__frequency {
  font-family: $base-font-family;
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
  color: $white;
  text-align: right;
}


.share-amount--basic {
  background-color: $basic-orange;
}

.share-amount--classic {
  background-color: $classic-purple;
}








.maternity-details__case {
  padding: 0;
  margin: 0;
}

.maternity-details__household-size {
  display: block;
  font-family: $base-font-family;
  font-size: 18px;
  font-weight: 300;
  line-height: 23px;
  text-align: center;
}

.maternity-details__limit {
  display: block;
  font-family: $base-font-family;
  font-size: 27px;
  font-weight: 300;
  line-height: 34px;
  text-align: center;
}

.maternity-details__case--one-person {
  display: none;
}

.maternity-details--basic {
  .maternity-details__household-size,
  .maternity-details__limit {
    color: $basic-orange;
  }
}

.maternity-details--classic {
  .maternity-details__household-size,
  .maternity-details__limit {
    color: $classic-purple;
  }
}








.membership-label {
  display: flex;
  align-items: center;
  justify-content: center;
}

.membership-label__image {
  display: block;
  width: auto;
  height: 18px;
  padding-right: 6px;
}

.membership-label__text {
  padding: 0;
  margin: 0;
}








.is-invalid {
  .share-amount__cost,
  .share-amount__frequency {
    text-align: center;
  }
}



.is-household-size-1 {
  .share-amount__cost,
  .share-amount__frequency {
    text-align: center;
  }

  .feature--maternity {
    grid-template-areas:
      'desc     desc      desc'
      'info     info      info';

    @include media('>=tablet') {
      grid-template-areas: 'desc info info info';
    }

    .feature__basic,
    .feature_divider,
    .feature__classic {
      display: none;
    }
  }
}

.is-household-size-multi {
  .share-amount__cost,
  .share-amount__frequency {
    text-align: center;
  }

  .feature--maternity {
    grid-template-areas:
      'desc     desc      desc'
      'basic    divider   classic';

    @include media('>=tablet') {
      grid-template-areas: 'desc basic divider classic';
    }

    .feature__extra-info {
      display: none;
    }
  }

  .maternity-details__household-size {
    display: none;
  }
}
