$breakpoints: (
	'xs-phone': 320px,
	'phone': 480px,
	'tablet': 768px,
	'desktop': 1024px,
	'widescreen': 1200px
);

// keywords
$media-expressions: (
	'screen': 'screen',
	'print': 'print',
	'handheld': 'handheld',
	'landscape': '(orientation: landscape)',
	'portrait': '(orientation: portrait)',
	'retina2x': '(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)',
	'retina3x': '(-webkit-min-device-pixel-ratio: 2.5), (min-resolution: 240dpi)'
);

@import '../vendors/include-media';
@import '../base/mixins';
@import '../base/variables';
@import '../base/helpers';


.guitar-contest {
	padding: 0;
	margin: 36px auto;
	color: $base-text-color;
	font: #{$font-size-base}/#{$line-height-base} $base-font-family;
	background: $white;
	border: 1px solid #D4D4D4;
	border-radius: 10px;
	overflow: hidden;
	max-width: 600px;

	*, *:before, *:after {
		box-sizing: border-box;
	}
}

.guitar-contest__header-wrapper {
	margin: auto;
	margin-bottom: 36px;
	max-width: 600px;
}

.guitar-contest__header-img {
	display: block;
	width: 100%;
	margin: auto;
	margin-bottom: 36px;
}

.guitar-contest__heading {
	font-size: 41px;
	font-weight: 300;
	line-height: 72px;
	margin: 0;
	margin-bottom: 18px;
	padding: 0 36px;
	text-align: left;
}

.guitar-contest__description {
	color: $base-text-color;
	font: #{$font-size-base}/#{$line-height-base} $base-font-family;
	margin: 0;
	padding: 0 36px;
}
