$breakpoints: (
  'tiny': 320px,
  'small': 480px,
  'medium': 640px,
  'large': 1024px,
  'huge': 1200px
);

// keywords
$media-expressions: (
  'screen': 'screen',
  'print': 'print',
  'handheld': 'handheld',
  'landscape': '(orientation: landscape)',
  'portrait': '(orientation: portrait)',
  'retina2x': '(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)',
  'retina3x': '(-webkit-min-device-pixel-ratio: 2.5), (min-resolution: 240dpi)'
);

/* @import '../vendors/include-media'; */
@import '../base/mixins';
@import '../base/variables';
@import '../base/helpers';


.foobar {
  padding: 32px;
  background-color: $gray-background;

  /* @include media('>=tablet') {
    padding: 54px;
  }

  @include media('>=desktop') {
    padding: 72px 0;
  } */
}

.foobar__description {
  font-size: 26px;
  font-weight: 400;
  color: $purple;
  text-align: center;
}
