$breakpoints: (
  'xs-phone': 320px,
  'phone': 480px,
  'tablet': 768px,
  'desktop': 1024px,
  'widescreen': 1200px
);

// keywords
$media-expressions: (
  'screen': 'screen',
  'print': 'print',
  'handheld': 'handheld',
  'landscape': '(orientation: landscape)',
  'portrait': '(orientation: portrait)',
  'retina2x': '(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)',
  'retina3x': '(-webkit-min-device-pixel-ratio: 2.5), (min-resolution: 240dpi)'
);

@import '../vendors/include-media';
@import '../base/mixins';
@import '../base/variables';
@import '../base/helpers';


/* save to share section */
.save2share {
	padding: 25px 0 20px;
	background: #6ecbd2;
	color: $white;
	font: #{$font-size-base}/#{$line-height-base} $base-font-family;

	@include media(">=tablet") {
		padding: 22px 0 52px;
	}

	@include media(">=desktop") {
		line-height: 2;
	}

	*, *:before, *:after {
		box-sizing: border-box;
	}
}

.save2share__headeing {
	text-align: center;
	font-size: 30px;
	line-height: 1.2;
	font-weight: 300;
	margin: 0 0 15px;
	color: $white;

	@include media(">=desktop") {
		font-size: 55px;
		margin: 0 0 33px;
	}
}

.save2share__head {
	text-align: center;
	margin: 0 0 20px;

	@include media(">=tablet") {
		margin: 0 0 32px;
	}
}

.save2share__image-wrap {
	margin: 0 0 10px;
}

.save2share__title {
	font-weight: 600;
	display: block;
	font-size: 24px;
	line-height: 26px;

	@include media(">=tablet") {
		font-size: 28px;
		line-height: 32px;
		margin: 0 0 5px;
	}
}

.save2share__optional {
	display: block;
	font-size: 18px;
	line-height: 22px;
	font-weight: 300;

	@include media(">=tablet") {
		font-size: 28px;
		line-height: 30px;
	}
}

.save2share__paragraph {
	margin: 0 0 20px;
	color: $white;
	font: #{$font-size-base}/#{$line-height-base} $base-font-family;

	@include media(">=tablet") {
		margin: 0 0 36px;
	}

	@include media(">=desktop") {
		line-height: 2;
	}
}

.save-cost {
	margin: 0 0 15px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	@include media(">=tablet") {
		margin: 0 0 40px;
	}
}

.save-cost__item {
	width: 50%;
	padding: 0 10px;

	@include media(">=desktop") {
		width: 36%;
	}
}

.save-cost__value {
	font-size: 36px;
	line-height: 1.1;
	font-weight: 300;
	position: relative;
	display: inline-block;
	vertical-align: top;

	@include media(">=tablet") {
		font-size: 30px;
		white-space: nowrap;
	}

	@include media(">=desktop") {
		font-size: 44px;
	}
}

.save-cost__text {
	font-size: 12px;
	line-height: 14px;
	position: absolute;
	left: 100%;
	top: 50%;
	transform: translateY(-50%);
	margin-left: 5px;
	font-weight: 400;
	text-align: left;

	@include media(">=tablet") {
		font-size: 18px;
		line-height: 1;
	}
}