$breakpoints: (
	'xs-phone': 320px,
	'phone': 480px,
	'tablet': 768px,
	'desktop': 1024px,
	'widescreen': 1200px
);

// keywords
$media-expressions: (
	'screen': 'screen',
	'print': 'print',
	'handheld': 'handheld',
	'landscape': '(orientation: landscape)',
	'portrait': '(orientation: portrait)',
	'retina2x': '(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)',
	'retina3x': '(-webkit-min-device-pixel-ratio: 2.5), (min-resolution: 240dpi)'
);

// ligatured operators ≥ ≤

@import '../vendors/include-media';
@import '../base/mixins';
@import '../base/variables';
@import '../base/helpers';

.video-section {
	padding: 35px 0 20px;

	@include media(">=desktop") {
		padding: 79px 0 28px;
	}
}

.video-section__wrapper {
	margin: 0 0 30px;

	@include media(">=desktop") {
		margin: 0 0 61px;
	}
}

.video-introduction__iframe-video {
	width: 100%;
	border: 0;

	@include media(">=phone") {
		height: 250px;
	}

	@include media(">=tablet") {
		height: 305px;
	}
}

.video-section__heading {
	color: $purple;
	text-align: center;
	font-size: 21px;
	font-weight: 600;
	margin: 0 0 15px;

	@include media(">=desktop") {
		font-size: 27px;
		margin: 0 0 18px;
		letter-spacing: -.3px;
	}
}

.video-section__paragraph {
	color: $text-color;
	font-size: 18px;
	margin: 0;

	@include media(">=desktop") {
		line-height: 2;
	}
}